apiVersion: v1
kind: Service
metadata:
  name: worldmonitor
  namespace: worldmonitor
  labels:
    app.kubernetes.io/name: worldmonitor
    app.kubernetes.io/component: frontend
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: worldmonitor
  ports:
    - name: http
      port: 80
      targetPort: http
      nodePort: 30080
      protocol: TCP
