openapi: 3.1.0
info:
    title: DisplacementService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/displacement/v1/get-displacement-summary:
        get:
            tags:
                - DisplacementService
            summary: GetDisplacementSummary
            description: |-
                GetDisplacementSummary retrieves global refugee and IDP statistics from UNHCR.
                 Empty/absent summary with fetched_at=0 or data_available=false means the
                 snapshot is unavailable/degraded, not that global displacement is zero.
            operationId: GetDisplacementSummary
            parameters:
                - name: year
                  in: query
                  description: |-
                    Data year: 1951 through the current year. Zero returns the latest seeded data.
                     An explicit year is available only if it matches the published snapshot.
                  required: false
                  "schema":
                      "oneOf":
                          - "const": 0
                            "type": "integer"
                          - "type": "integer"
                            "format": "int32"
                            "minimum": 1951
                            "maximum": 2026
                  example: 0
                - name: country_limit
                  in: query
                  description: Maximum number of country entries to return.
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: flow_limit
                  in: query
                  description: Maximum number of displacement flows to return.
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "dataAvailable": true
                                "fetchedAt": 1717200000000
                                "summary":
                                    "countries":
                                        - "asylumSeekers": 1
                                          "code": "US"
                                          "hostAsylumSeekers": 1
                                          "hostRefugees": 1
                                          "hostTotal": 1
                                          "idps": 1
                                    "globalTotals":
                                        "asylumSeekers": 1
                                        "idps": 1
                                        "refugees": 1
                                        "stateless": 1
                                        "total": 1
                                    "topFlows":
                                        - "asylumCode": "US"
                                          "asylumLocation":
                                              "latitude": 40.7128
                                              "longitude": -74.006
                                          "asylumName": "WorldMonitor Analyst"
                                          "originCode": "US"
                                          "originLocation":
                                              "latitude": 40.7128
                                              "longitude": -74.006
                                          "originName": "WorldMonitor Analyst"
                                          "refugees": 1
                                    "year": 2025
                            schema:
                                $ref: '#/components/schemas/GetDisplacementSummaryResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/displacement/v1/get-population-exposure:
        get:
            tags:
                - DisplacementService
            summary: GetPopulationExposure
            description: GetPopulationExposure returns country population data or estimates population within a radius.
            operationId: GetPopulationExposure
            parameters:
                - name: mode
                  in: query
                  description: 'Mode: "countries" (default) or "exposure".'
                  required: false
                  example: "countries"
                  schema:
                    type: string
                - name: lat
                  in: query
                  description: Latitude (required for exposure mode).
                  required: false
                  example: 40.7128
                  schema:
                    type: number
                    format: double
                - name: lon
                  in: query
                  description: Longitude (required for exposure mode).
                  required: false
                  example: -74.006
                  schema:
                    type: number
                    format: double
                - name: radius
                  in: query
                  description: Radius in km (required for exposure mode, defaults to 50).
                  required: false
                  example: 1.5
                  schema:
                    type: number
                    format: double
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "countries":
                                    - "code": "US"
                                      "densityPerKm2": 1
                                      "name": "WorldMonitor Analyst"
                                      "population": 1
                                "exposure":
                                    "densityPerKm2": 1
                                    "exposedPopulation": 1
                                    "exposureRadiusKm": 1.5
                                    "nearestCountry": "US"
                                "success": true
                            schema:
                                $ref: '#/components/schemas/GetPopulationExposureResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        JmespathProjectionError:
            description: Returned when a REST jmespath projection is invalid or exceeds the expression/output byte limits.
            properties:
                _jmespath_error:
                    description: Projection error discriminator and details.
                    type: string
                original_keys:
                    description: Top-level keys or shape of the unprojected response.
                    items:
                        type: string
                    type: array
            required:
                - _jmespath_error
                - original_keys
            type: object
        UnauthorizedError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable error message.
            required:
                - error
            description: Returned when the API key is missing, malformed, or lacks current API access.
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        BillingVerificationError:
            type: object
            description: "Returned with HTTP 503 when paid access cannot be confirmed right now: the billing provider is re-verifying a recently expired subscription, or the entitlement backend is unreachable. Retryable — honor Retry-After."
            properties:
                error:
                    type: string
                    description: Human-readable billing-verification failure reason.
                code:
                    type: string
                    enum:
                        - renewal_verification_pending
                        - renewal_verification_failed
                        - entitlement_verification_unavailable
                    description: Machine-readable billing-verification state, mirrored in the X-Billing-Verification response header.
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint, when the denial came from a tier gate.
            required:
                - error
                - code
        InvalidRequestBodyError:
            type: object
            description: Returned when a JSON POST request body is empty or malformed.
            properties:
                message:
                    type: string
                    description: Invalid request body
            required:
                - message
        GatewayError:
            type: object
            description: Returned by gateway infrastructure errors before an RPC handler runs, such as origin, routing, method, authentication, or quota checks.
            properties:
                error:
                    oneOf:
                        - type: string
                        - type: object
                          additionalProperties: true
                    description: Gateway error reason or structured gateway failure details.
            required:
                - error
        RateLimitError:
            type: object
            description: Returned when a gateway or handler rate limit rejects the request.
            properties:
                error:
                    type: string
                    description: Human-readable rate-limit failure reason.
            required:
                - error
        ForbiddenError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable entitlement failure reason.
                code:
                    type: string
                    enum:
                        - subscription_lapsed
                    description: Machine-readable denial code, present when the 403 is a billing-provider-confirmed subscription lapse (mirrored in the X-Billing-Verification response header).
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint.
                currentTier:
                    type: integer
                    format: int32
                    description: Caller entitlement tier when known.
                planKey:
                    type: string
                    description: Caller plan key when known.
            required:
                - error
            description: Returned when a PRO-gated endpoint denies access because the caller has no resolved authenticated user, entitlements cannot be verified, or the caller lacks the required entitlement tier.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        GetDisplacementSummaryRequest:
            type: object
            properties:
                "year":
                    "description": "Data year: 1951 through the current year. Zero returns the latest seeded data.\n An explicit year is available only if it matches the published snapshot."
                    "oneOf":
                        - "const": 0
                          "type": "integer"
                        - "type": "integer"
                          "format": "int32"
                          "minimum": 1951
                          "maximum": 2026
                countryLimit:
                    type: integer
                    minimum: 0
                    format: int32
                    description: Maximum number of country entries to return.
                flowLimit:
                    type: integer
                    minimum: 0
                    format: int32
                    description: Maximum number of displacement flows to return.
            description: GetDisplacementSummaryRequest specifies parameters for retrieving displacement data.
        GetDisplacementSummaryResponse:
            type: object
            properties:
                summary:
                    $ref: '#/components/schemas/DisplacementSummary'
                fetchedAt:
                    type: integer
                    format: int64
                    description: |-
                        Time the seed snapshot was fetched, as Unix epoch
                         milliseconds. A value of 0 means the snapshot is unavailable/degraded, not
                         that global displacement is zero.. Warning: Values > 2^53 may lose precision in JavaScript
                dataAvailable:
                    type: boolean
                    description: |-
                        True when summary came from the requested seed snapshot. False means
                         an absent/empty summary is graceful degradation because the snapshot is
                         unavailable.
            description: GetDisplacementSummaryResponse contains the global displacement summary.
        DisplacementSummary:
            type: object
            properties:
                year:
                    type: integer
                    format: int32
                    description: Data year.
                globalTotals:
                    $ref: '#/components/schemas/GlobalDisplacementTotals'
                countries:
                    type: array
                    items:
                        $ref: '#/components/schemas/CountryDisplacement'
                topFlows:
                    type: array
                    items:
                        $ref: '#/components/schemas/DisplacementFlow'
            description: DisplacementSummary represents a global overview of displacement data from UNHCR.
        GlobalDisplacementTotals:
            type: object
            properties:
                refugees:
                    type: integer
                    minimum: 0
                    format: int64
                    description: 'Total recognized refugees worldwide.. Warning: Values > 2^53 may lose precision in JavaScript'
                asylumSeekers:
                    type: integer
                    minimum: 0
                    format: int64
                    description: 'Total asylum seekers worldwide.. Warning: Values > 2^53 may lose precision in JavaScript'
                idps:
                    type: integer
                    minimum: 0
                    format: int64
                    description: 'Total internally displaced persons worldwide.. Warning: Values > 2^53 may lose precision in JavaScript'
                stateless:
                    type: integer
                    minimum: 0
                    format: int64
                    description: 'Total stateless persons worldwide.. Warning: Values > 2^53 may lose precision in JavaScript'
                total:
                    type: integer
                    minimum: 0
                    format: int64
                    description: 'Grand total of displaced persons.. Warning: Values > 2^53 may lose precision in JavaScript'
            description: GlobalDisplacementTotals represents worldwide displacement figures.
        CountryDisplacement:
            type: object
            properties:
                code:
                    type: string
                    minLength: 1
                    description: ISO 3166-1 alpha-2 country code.
                name:
                    type: string
                    description: Country name.
                refugees:
                    type: integer
                    format: int64
                    description: 'Refugees originating from this country.. Warning: Values > 2^53 may lose precision in JavaScript'
                asylumSeekers:
                    type: integer
                    format: int64
                    description: 'Asylum seekers from this country.. Warning: Values > 2^53 may lose precision in JavaScript'
                idps:
                    type: integer
                    format: int64
                    description: 'Internally displaced persons within this country.. Warning: Values > 2^53 may lose precision in JavaScript'
                stateless:
                    type: integer
                    format: int64
                    description: 'Stateless persons associated with this country.. Warning: Values > 2^53 may lose precision in JavaScript'
                totalDisplaced:
                    type: integer
                    format: int64
                    description: 'Total displaced from this country.. Warning: Values > 2^53 may lose precision in JavaScript'
                hostRefugees:
                    type: integer
                    format: int64
                    description: 'Refugees hosted by this country.. Warning: Values > 2^53 may lose precision in JavaScript'
                hostAsylumSeekers:
                    type: integer
                    format: int64
                    description: 'Asylum seekers hosted by this country.. Warning: Values > 2^53 may lose precision in JavaScript'
                hostTotal:
                    type: integer
                    format: int64
                    description: 'Total persons hosted by this country.. Warning: Values > 2^53 may lose precision in JavaScript'
                location:
                    $ref: '#/components/schemas/GeoCoordinates'
            required:
                - code
            description: CountryDisplacement represents displacement metrics for a single country.
        GeoCoordinates:
            type: object
            properties:
                latitude:
                    type: number
                    maximum: 90
                    minimum: -90
                    format: double
                    description: Latitude in decimal degrees (-90 to 90).
                longitude:
                    type: number
                    maximum: 180
                    minimum: -180
                    format: double
                    description: Longitude in decimal degrees (-180 to 180).
            description: GeoCoordinates represents a geographic location using WGS84 coordinates.
        DisplacementFlow:
            type: object
            properties:
                originCode:
                    type: string
                    minLength: 1
                    description: ISO 3166-1 alpha-2 code of the origin country.
                originName:
                    type: string
                    description: Origin country name.
                asylumCode:
                    type: string
                    minLength: 1
                    description: ISO 3166-1 alpha-2 code of the asylum country.
                asylumName:
                    type: string
                    description: Asylum country name.
                refugees:
                    type: integer
                    format: int64
                    description: 'Number of refugees in this flow.. Warning: Values > 2^53 may lose precision in JavaScript'
                originLocation:
                    $ref: '#/components/schemas/GeoCoordinates'
                asylumLocation:
                    $ref: '#/components/schemas/GeoCoordinates'
            required:
                - originCode
                - asylumCode
            description: DisplacementFlow represents a refugee movement corridor between two countries.
        GetPopulationExposureRequest:
            type: object
            properties:
                mode:
                    type: string
                    description: 'Mode: "countries" (default) or "exposure".'
                lat:
                    type: number
                    maximum: 90
                    minimum: -90
                    format: double
                    description: Latitude (required for exposure mode).
                lon:
                    type: number
                    maximum: 180
                    minimum: -180
                    format: double
                    description: Longitude (required for exposure mode).
                radius:
                    type: number
                    minimum: 0
                    format: double
                    description: Radius in km (required for exposure mode, defaults to 50).
            description: |-
                GetPopulationExposureRequest supports two modes:
                 - countries mode (default): returns the priority countries list
                 - exposure mode: estimates population within a radius of a point
        GetPopulationExposureResponse:
            type: object
            properties:
                success:
                    type: boolean
                    description: True if the request succeeded.
                countries:
                    type: array
                    items:
                        $ref: '#/components/schemas/CountryPopulationEntry'
                exposure:
                    $ref: '#/components/schemas/ExposureResult'
            description: GetPopulationExposureResponse returns either a countries list or an exposure estimate.
        CountryPopulationEntry:
            type: object
            properties:
                code:
                    type: string
                    description: ISO 3166-1 alpha-3 country code.
                name:
                    type: string
                    description: Country name.
                population:
                    type: integer
                    format: int64
                    description: 'Total population.. Warning: Values > 2^53 may lose precision in JavaScript'
                densityPerKm2:
                    type: integer
                    format: int32
                    description: Population density per square kilometer.
            description: CountryPopulationEntry represents a country with population data.
        ExposureResult:
            type: object
            properties:
                exposedPopulation:
                    type: integer
                    format: int64
                    description: 'Estimated exposed population.. Warning: Values > 2^53 may lose precision in JavaScript'
                exposureRadiusKm:
                    type: number
                    format: double
                    description: Radius used for the estimate in km.
                nearestCountry:
                    type: string
                    description: ISO3 code of nearest priority country.
                densityPerKm2:
                    type: integer
                    format: int32
                    description: Population density used for the estimate.
            description: ExposureResult contains the population exposure estimate.
