openapi: 3.1.0
info:
    title: ImageryService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/imagery/v1/search-imagery:
        get:
            tags:
                - ImageryService
            summary: SearchImagery
            description: SearchImagery searches satellite imagery scenes by bounding box, datetime range, and source, returning matching scenes and a total-results count.
            operationId: SearchImagery
            parameters:
                - name: bbox
                  in: query
                  description: Bounding box filter for imagery search, encoded as west,south,east,north.
                  required: false
                  example: "-74.10,40.60,-73.70,40.90"
                  schema:
                    type: string
                - name: datetime
                  in: query
                  description: ISO 8601 datetime or datetime range for matching imagery scenes.
                  required: false
                  example: "2026-01-15"
                  schema:
                    type: string
                - name: source
                  in: query
                  description: Optional imagery source filter, such as satellite or provider name.
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: limit
                  in: query
                  description: Maximum number of imagery scenes to return.
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "cacheHit": true
                                "scenes":
                                    - "assetUrl": "https://example.com/worldmonitor"
                                      "datetime": "2026-01-15"
                                      "geometryGeojson": "example"
                                      "id": "example-id"
                                      "mode": "example"
                                "totalResults": 1
                            schema:
                                $ref: '#/components/schemas/SearchImageryResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        JmespathProjectionError:
            description: Returned when a REST jmespath projection is invalid or exceeds the expression/output byte limits.
            properties:
                _jmespath_error:
                    description: Projection error discriminator and details.
                    type: string
                original_keys:
                    description: Top-level keys or shape of the unprojected response.
                    items:
                        type: string
                    type: array
            required:
                - _jmespath_error
                - original_keys
            type: object
        UnauthorizedError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable error message.
            required:
                - error
            description: Returned when the API key is missing, malformed, or lacks current API access.
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        ForbiddenError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable entitlement failure reason.
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint.
                currentTier:
                    type: integer
                    format: int32
                    description: Caller entitlement tier when known.
                planKey:
                    type: string
                    description: Caller plan key when known.
            required:
                - error
            description: Returned when a PRO-gated endpoint denies access because the caller has no resolved authenticated user, entitlements cannot be verified, or the caller lacks the required entitlement tier.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        SearchImageryRequest:
            type: object
            properties:
                bbox:
                    type: string
                    description: Bounding box filter for imagery search, encoded as west,south,east,north.
                datetime:
                    type: string
                    description: ISO 8601 datetime or datetime range for matching imagery scenes.
                source:
                    type: string
                    description: Optional imagery source filter, such as satellite or provider name.
                limit:
                    type: integer
                    format: int32
                    description: Maximum number of imagery scenes to return.
        SearchImageryResponse:
            type: object
            properties:
                scenes:
                    type: array
                    items:
                        $ref: '#/components/schemas/ImageryScene'
                totalResults:
                    type: integer
                    format: int32
                cacheHit:
                    type: boolean
        ImageryScene:
            type: object
            properties:
                id:
                    type: string
                satellite:
                    type: string
                datetime:
                    type: string
                resolutionM:
                    type: number
                    format: double
                mode:
                    type: string
                geometryGeojson:
                    type: string
                previewUrl:
                    type: string
                assetUrl:
                    type: string
