openapi: 3.1.0
info:
    title: LeadsService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/leads/v1/submit-contact:
        post:
            tags:
                - LeadsService
            summary: SubmitContact
            description: SubmitContact stores an enterprise contact submission in Convex and emails ops. Turnstile-gated. Missing or invalid Cloudflare Turnstile token returns 403 Bot verification failed.
            operationId: SubmitContact
            security: []
            requestBody:
                content:
                    application/json:
                        example:
                            "email": "analyst@example.com"
                            "message": "Example WorldMonitor observation."
                            "name": "WorldMonitor Analyst"
                            "organization": "example"
                            "phone": "example"
                            "source": "example"
                            "turnstileToken": "example"
                            "website": "example"
                        schema:
                            $ref: '#/components/schemas/SubmitContactRequest'
                required: true
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "emailSent": true
                                "status": "example"
                            schema:
                                $ref: '#/components/schemas/SubmitContactResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                "403":
                    description: "Bot verification failed."
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/leads/v1/register-interest:
        post:
            tags:
                - LeadsService
            summary: RegisterInterest
            description: RegisterInterest adds an email to the Pro waitlist and sends a confirmation email. Turnstile-gated (desktop sources authenticate a bypass with a shared-secret HMAC instead). A failed Cloudflare Turnstile check returns 403 Bot verification failed; a desktop-source request with a missing or invalid HMAC signature returns 403 Desktop authentication failed.
            operationId: RegisterInterest
            security: []
            requestBody:
                content:
                    application/json:
                        example:
                            "appVersion": "example"
                            "email": "analyst@example.com"
                            "referredBy": "example"
                            "source": "example"
                            "turnstileToken": "example"
                            "website": "example"
                        schema:
                            $ref: '#/components/schemas/RegisterInterestRequest'
                required: true
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "emailSuppressed": true
                                "position": 1
                                "referralCode": "example"
                                "referralCount": 1
                                "status": "example"
                            schema:
                                $ref: '#/components/schemas/RegisterInterestResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                "403":
                    description: "Bot verification or desktop authentication failed."
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        SubmitContactRequest:
            type: object
            properties:
                email:
                    type: string
                name:
                    type: string
                organization:
                    type: string
                phone:
                    type: string
                message:
                    type: string
                source:
                    type: string
                website:
                    type: string
                    description: Honeypot — bots auto-fill this hidden field; real submissions leave it empty.
                turnstileToken:
                    type: string
                    description: Cloudflare Turnstile token proving the submitter is human.
            required:
                - email
                - name
                - organization
                - phone
                - turnstileToken
            description: SubmitContactRequest carries an enterprise contact form submission.
        SubmitContactResponse:
            type: object
            properties:
                status:
                    type: string
                    description: Always "sent" on success.
                emailSent:
                    type: boolean
                    description: True when the Resend notification to ops was delivered.
            description: SubmitContactResponse reports the outcome of storing the lead and notifying ops.
        RegisterInterestRequest:
            type: object
            properties:
                email:
                    type: string
                source:
                    type: string
                appVersion:
                    type: string
                referredBy:
                    type: string
                website:
                    type: string
                    description: Honeypot — bots auto-fill this hidden field; real submissions leave it empty.
                turnstileToken:
                    type: string
                    description: Cloudflare Turnstile token. Desktop sources bypass Turnstile; see handler.
            required:
                - email
                - turnstileToken
            description: RegisterInterestRequest carries a Pro-waitlist signup.
        RegisterInterestResponse:
            type: object
            properties:
                status:
                    type: string
                    description: '"registered" for a new signup; "already_registered" for a returning email.'
                referralCode:
                    type: string
                    description: Stable referral code for this email.
                referralCount:
                    type: integer
                    format: int32
                    description: Number of signups credited to this email.
                position:
                    type: integer
                    format: int32
                    description: Waitlist position at registration time. Present only when status == "registered".
                emailSuppressed:
                    type: boolean
                    description: True when the email is on the suppression list (prior bounce) and no confirmation was sent.
            description: RegisterInterestResponse mirrors the Convex registerInterest:register return shape.
