openapi: 3.1.0
info:
    title: MaritimeService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/maritime/v1/get-vessel-snapshot:
        get:
            tags:
                - MaritimeService
            summary: GetVesselSnapshot
            description: |-
                GetVesselSnapshot retrieves a point-in-time view of AIS vessel traffic and disruptions.
                 Empty/absent snapshot with fetched_at=0 or data_available=false means the
                 relay snapshot is unavailable/degraded, not that traffic is confirmed absent.
            operationId: GetVesselSnapshot
            parameters:
                - name: ne_lat
                  in: query
                  description: North-east corner latitude of bounding box.
                  required: false
                  example: 40.7128
                  schema:
                    type: number
                    format: double
                - name: ne_lon
                  in: query
                  description: North-east corner longitude of bounding box.
                  required: false
                  example: -74.006
                  schema:
                    type: number
                    format: double
                - name: sw_lat
                  in: query
                  description: South-west corner latitude of bounding box.
                  required: false
                  example: 40.7128
                  schema:
                    type: number
                    format: double
                - name: sw_lon
                  in: query
                  description: South-west corner longitude of bounding box.
                  required: false
                  example: -74.006
                  schema:
                    type: number
                    format: double
                - name: include_candidates
                  in: query
                  description: |-
                    When true, populate VesselSnapshot.candidate_reports with per-vessel
                     position reports. Clients with no position callbacks should leave this
                     false to keep responses small.
                  required: false
                  example: true
                  schema:
                    type: boolean
                - name: include_tankers
                  in: query
                  description: |-
                    When true, populate VesselSnapshot.tanker_reports with per-vessel
                     position reports for AIS ship-type 80-89 (tanker class). Used by the
                     Energy Atlas live-tanker map layer. Stored separately from
                     candidate_reports (which is military-only) so consumers self-select
                     via this flag rather than the response field changing meaning.
                  required: false
                  example: true
                  schema:
                    type: boolean
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "dataAvailable": true
                                "fetchedAt": 1717200000000
                                "snapshot":
                                    "candidateReports":
                                        - "course": 1
                                          "heading": 1
                                          "lat": 40.7128
                                          "lon": -74.006
                                          "mmsi": "123456789"
                                    "densityZones":
                                        - "deltaPct": 1.5
                                          "id": "example-id"
                                          "intensity": 1.5
                                          "location":
                                              "latitude": 40.7128
                                              "longitude": -74.006
                                          "name": "WorldMonitor Analyst"
                                          "note": "example"
                                    "disruptions":
                                        - "changePct": 1.5
                                          "darkShips": 1
                                          "description": "Example WorldMonitor observation."
                                          "id": "example-id"
                                          "location":
                                              "latitude": 40.7128
                                              "longitude": -74.006
                                          "name": "WorldMonitor Analyst"
                                    "sequence": 1
                                    "snapshotAt": 1717200000000
                            schema:
                                $ref: '#/components/schemas/GetVesselSnapshotResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/maritime/v1/list-navigational-warnings:
        get:
            tags:
                - MaritimeService
            summary: ListNavigationalWarnings
            description: ListNavigationalWarnings retrieves active NGA maritime safety warnings with issue times, affected areas, source authority, area filtering and full warning text.
            operationId: ListNavigationalWarnings
            parameters:
                - name: page_size
                  in: query
                  description: |-
                    Maximum items per page (1-100).
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: |-
                    Cursor for next page.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: "next-page-token"
                  schema:
                    type: string
                - name: area
                  in: query
                  description: Optional area filter (e.g., "NAVAREA IV", "Persian Gulf").
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "dataAvailable": true
                                "pagination":
                                    "nextCursor": "next-page-token"
                                    "totalCount": 1
                                "warnings":
                                    - "area": "example"
                                      "authority": "example"
                                      "expiresAt": 1717200000000
                                      "id": "example-id"
                                      "issuedAt": 1717200000000
                            schema:
                                $ref: '#/components/schemas/ListNavigationalWarningsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        JmespathProjectionError:
            description: Returned when a REST jmespath projection is invalid or exceeds the expression/output byte limits.
            properties:
                _jmespath_error:
                    description: Projection error discriminator and details.
                    type: string
                original_keys:
                    description: Top-level keys or shape of the unprojected response.
                    items:
                        type: string
                    type: array
            required:
                - _jmespath_error
                - original_keys
            type: object
        UnauthorizedError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable error message.
            required:
                - error
            description: Returned when the API key is missing, malformed, or lacks current API access.
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        BillingVerificationError:
            type: object
            description: "Returned with HTTP 503 when paid access cannot be confirmed right now: the billing provider is re-verifying a recently expired subscription, or the entitlement backend is unreachable. Retryable — honor Retry-After."
            properties:
                error:
                    type: string
                    description: Human-readable billing-verification failure reason.
                code:
                    type: string
                    enum:
                        - renewal_verification_pending
                        - renewal_verification_failed
                        - entitlement_verification_unavailable
                    description: Machine-readable billing-verification state, mirrored in the X-Billing-Verification response header.
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint, when the denial came from a tier gate.
            required:
                - error
                - code
        InvalidRequestBodyError:
            type: object
            description: Returned when a JSON POST request body is empty or malformed.
            properties:
                message:
                    type: string
                    description: Invalid request body
            required:
                - message
        GatewayError:
            type: object
            description: Returned by gateway infrastructure errors before an RPC handler runs, such as origin, routing, method, authentication, or quota checks.
            properties:
                error:
                    oneOf:
                        - type: string
                        - type: object
                          additionalProperties: true
                    description: Gateway error reason or structured gateway failure details.
            required:
                - error
        RateLimitError:
            type: object
            description: Returned when a gateway or handler rate limit rejects the request.
            properties:
                error:
                    type: string
                    description: Human-readable rate-limit failure reason.
            required:
                - error
        ForbiddenError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable entitlement failure reason.
                code:
                    type: string
                    enum:
                        - subscription_lapsed
                    description: Machine-readable denial code, present when the 403 is a billing-provider-confirmed subscription lapse (mirrored in the X-Billing-Verification response header).
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint.
                currentTier:
                    type: integer
                    format: int32
                    description: Caller entitlement tier when known.
                planKey:
                    type: string
                    description: Caller plan key when known.
            required:
                - error
            description: Returned when a PRO-gated endpoint denies access because the caller has no resolved authenticated user, entitlements cannot be verified, or the caller lacks the required entitlement tier.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        GetVesselSnapshotRequest:
            type: object
            properties:
                neLat:
                    type: number
                    format: double
                    description: North-east corner latitude of bounding box.
                neLon:
                    type: number
                    format: double
                    description: North-east corner longitude of bounding box.
                swLat:
                    type: number
                    format: double
                    description: South-west corner latitude of bounding box.
                swLon:
                    type: number
                    format: double
                    description: South-west corner longitude of bounding box.
                includeCandidates:
                    type: boolean
                    description: |-
                        When true, populate VesselSnapshot.candidate_reports with per-vessel
                         position reports. Clients with no position callbacks should leave this
                         false to keep responses small.
                includeTankers:
                    type: boolean
                    description: |-
                        When true, populate VesselSnapshot.tanker_reports with per-vessel
                         position reports for AIS ship-type 80-89 (tanker class). Used by the
                         Energy Atlas live-tanker map layer. Stored separately from
                         candidate_reports (which is military-only) so consumers self-select
                         via this flag rather than the response field changing meaning.
            description: GetVesselSnapshotRequest specifies filters for the vessel snapshot.
        GetVesselSnapshotResponse:
            type: object
            properties:
                snapshot:
                    $ref: '#/components/schemas/VesselSnapshot'
                fetchedAt:
                    type: integer
                    format: int64
                    description: |-
                        Time the relay snapshot was fetched, as Unix epoch milliseconds. A value
                         of 0 means the snapshot is unavailable/degraded, not that vessel traffic is
                         confirmed absent.. Warning: Values > 2^53 may lose precision in JavaScript
                dataAvailable:
                    type: boolean
                    description: |-
                        True when snapshot is populated. False means an absent snapshot is
                         graceful degradation because the relay snapshot is unavailable.
            description: GetVesselSnapshotResponse contains the vessel traffic snapshot.
        VesselSnapshot:
            type: object
            properties:
                snapshotAt:
                    type: integer
                    format: int64
                    description: 'Snapshot timestamp, as Unix epoch milliseconds.. Warning: Values > 2^53 may lose precision in JavaScript'
                densityZones:
                    type: array
                    items:
                        $ref: '#/components/schemas/AisDensityZone'
                disruptions:
                    type: array
                    items:
                        $ref: '#/components/schemas/AisDisruption'
                sequence:
                    type: integer
                    format: int32
                    description: |-
                        Monotonic sequence number from the relay. Clients use this to detect stale
                         responses during polling.
                status:
                    $ref: '#/components/schemas/AisSnapshotStatus'
                candidateReports:
                    type: array
                    items:
                        $ref: '#/components/schemas/SnapshotCandidateReport'
                tankerReports:
                    type: array
                    items:
                        $ref: '#/components/schemas/SnapshotCandidateReport'
            description: VesselSnapshot represents a point-in-time view of civilian AIS vessel data.
        AisDensityZone:
            type: object
            properties:
                id:
                    type: string
                    minLength: 1
                    description: Zone identifier.
                name:
                    type: string
                    description: Zone name (e.g., "Strait of Malacca").
                location:
                    $ref: '#/components/schemas/GeoCoordinates'
                intensity:
                    type: number
                    maximum: 100
                    minimum: 0
                    format: double
                    description: Traffic intensity score (0-100).
                deltaPct:
                    type: number
                    format: double
                    description: Change from baseline as a percentage.
                shipsPerDay:
                    type: integer
                    format: int32
                    description: Estimated ships per day.
                note:
                    type: string
                    description: Analyst note.
            required:
                - id
            description: AisDensityZone represents a zone of concentrated vessel traffic.
        GeoCoordinates:
            type: object
            properties:
                latitude:
                    type: number
                    maximum: 90
                    minimum: -90
                    format: double
                    description: Latitude in decimal degrees (-90 to 90).
                longitude:
                    type: number
                    maximum: 180
                    minimum: -180
                    format: double
                    description: Longitude in decimal degrees (-180 to 180).
            description: GeoCoordinates represents a geographic location using WGS84 coordinates.
        AisDisruption:
            type: object
            properties:
                id:
                    type: string
                    minLength: 1
                    description: Disruption identifier.
                name:
                    type: string
                    description: Descriptive name.
                type:
                    type: string
                    enum:
                        - AIS_DISRUPTION_TYPE_UNSPECIFIED
                        - AIS_DISRUPTION_TYPE_GAP_SPIKE
                        - AIS_DISRUPTION_TYPE_CHOKEPOINT_CONGESTION
                    description: |-
                        AisDisruptionType represents the type of AIS tracking anomaly.
                         Maps to TS union: 'gap_spike' | 'chokepoint_congestion'.
                location:
                    $ref: '#/components/schemas/GeoCoordinates'
                severity:
                    type: string
                    enum:
                        - AIS_DISRUPTION_SEVERITY_UNSPECIFIED
                        - AIS_DISRUPTION_SEVERITY_LOW
                        - AIS_DISRUPTION_SEVERITY_ELEVATED
                        - AIS_DISRUPTION_SEVERITY_HIGH
                    description: AisDisruptionSeverity represents the severity of an AIS disruption.
                changePct:
                    type: number
                    format: double
                    description: Percentage change from normal.
                windowHours:
                    type: integer
                    format: int32
                    description: Analysis window in hours.
                darkShips:
                    type: integer
                    format: int32
                    description: Number of dark ships (AIS off) detected.
                vesselCount:
                    type: integer
                    format: int32
                    description: Number of vessels in the affected area.
                region:
                    type: string
                    description: Region name.
                description:
                    type: string
                    description: Human-readable description.
            required:
                - id
            description: AisDisruption represents a detected anomaly in AIS vessel tracking data.
        AisSnapshotStatus:
            type: object
            properties:
                connected:
                    type: boolean
                    description: Whether the relay WebSocket is connected to the AIS provider.
                vessels:
                    type: integer
                    format: int32
                    description: Number of vessels currently tracked by the relay.
                messages:
                    type: integer
                    format: int32
                    description: Total AIS messages processed in the current session.
            description: AisSnapshotStatus reports relay health at the time of the snapshot.
        SnapshotCandidateReport:
            type: object
            properties:
                mmsi:
                    type: string
                    description: Maritime Mobile Service Identity.
                name:
                    type: string
                    description: Vessel name (may be empty if unknown).
                lat:
                    type: number
                    format: double
                    description: Latitude in decimal degrees.
                lon:
                    type: number
                    format: double
                    description: Longitude in decimal degrees.
                shipType:
                    type: integer
                    format: int32
                    description: AIS ship type code (0 if unknown).
                heading:
                    type: integer
                    format: int32
                    description: Heading in degrees (0-359, or 511 for unavailable).
                speed:
                    type: number
                    format: double
                    description: Speed over ground in knots.
                course:
                    type: integer
                    format: int32
                    description: Course over ground in degrees.
                timestamp:
                    type: integer
                    format: int64
                    description: 'Report timestamp, as Unix epoch milliseconds.. Warning: Values > 2^53 may lose precision in JavaScript'
            description: |-
                SnapshotCandidateReport is a per-vessel position report attached to a
                 snapshot. Used to drive the client-side position callback system.
        ListNavigationalWarningsRequest:
            type: object
            properties:
                pageSize:
                    type: integer
                    format: int32
                    description: |-
                        Maximum items per page (1-100).
                         Accepted but currently ignored; no-op until this handler supports the parameter.
                cursor:
                    type: string
                    description: |-
                        Cursor for next page.
                         Accepted but currently ignored; no-op until this handler supports the parameter.
                area:
                    type: string
                    description: Optional area filter (e.g., "NAVAREA IV", "Persian Gulf").
            description: ListNavigationalWarningsRequest specifies filters for retrieving NGA warnings.
        ListNavigationalWarningsResponse:
            type: object
            properties:
                warnings:
                    type: array
                    items:
                        $ref: '#/components/schemas/NavigationalWarning'
                pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                dataAvailable:
                    type: boolean
                    description: |-
                        True when NGA returned a valid response, including a valid empty list.
                         False means warnings are withheld because the fetch or payload failed.
            description: ListNavigationalWarningsResponse contains navigational warnings matching the request.
        NavigationalWarning:
            type: object
            properties:
                id:
                    type: string
                    description: Warning identifier.
                title:
                    type: string
                    description: Warning title.
                text:
                    type: string
                    description: Full warning text.
                area:
                    type: string
                    description: Geographic area affected.
                location:
                    $ref: '#/components/schemas/GeoCoordinates'
                issuedAt:
                    type: integer
                    format: int64
                    description: 'Warning issue date, as Unix epoch milliseconds.. Warning: Values > 2^53 may lose precision in JavaScript'
                expiresAt:
                    type: integer
                    format: int64
                    description: 'Warning expiry date, as Unix epoch milliseconds.. Warning: Values > 2^53 may lose precision in JavaScript'
                authority:
                    type: string
                    description: Warning source authority.
            description: NavigationalWarning represents a maritime safety warning from NGA.
        PaginationResponse:
            type: object
            properties:
                nextCursor:
                    type: string
                    description: Cursor for fetching the next page. Empty string indicates no more pages.
                totalCount:
                    type: integer
                    format: int32
                    description: Total count of items matching the query, if known. Zero if the total is unknown.
            description: PaginationResponse contains pagination metadata returned alongside list results.
