openapi: 3.1.0
info:
    title: NaturalService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/natural/v1/list-natural-events:
        get:
            tags:
                - NaturalService
            summary: ListNaturalEvents
            description: |-
                ListNaturalEvents retrieves seeded EONET/GDACS/NHC/HKO natural events. Empty
                 events with fetched_at=0 or data_available=false means the seed snapshot is
                 unavailable/degraded, not that there are confirmed zero events.
            operationId: ListNaturalEvents
            parameters:
                - name: days
                  in: query
                  description: Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: 7
                  schema:
                    type: integer
                    format: int32
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "dataAvailable": true
                                "events":
                                    - "agencyObservations":
                                        - "agency": "example"
                                          "agencyId": "example-id"
                                          "classification": "example"
                                          "lat": 40.7128
                                          "lon": -74.006
                                      "basin": "example"
                                      "canonicalAliases":
                                          - "example"
                                      "canonicalId": "example-id"
                                      "category": "cs.AI"
                                "fetchedAt": 1717200000000
                            schema:
                                $ref: '#/components/schemas/ListNaturalEventsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        JmespathProjectionError:
            description: Returned when a REST jmespath projection is invalid or exceeds the expression/output byte limits.
            properties:
                _jmespath_error:
                    description: Projection error discriminator and details.
                    type: string
                original_keys:
                    description: Top-level keys or shape of the unprojected response.
                    items:
                        type: string
                    type: array
            required:
                - _jmespath_error
                - original_keys
            type: object
        UnauthorizedError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable error message.
            required:
                - error
            description: Returned when the API key is missing, malformed, or lacks current API access.
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        BillingVerificationError:
            type: object
            description: "Returned with HTTP 503 when paid access cannot be confirmed right now: the billing provider is re-verifying a recently expired subscription, or the entitlement backend is unreachable. Retryable — honor Retry-After."
            properties:
                error:
                    type: string
                    description: Human-readable billing-verification failure reason.
                code:
                    type: string
                    enum:
                        - renewal_verification_pending
                        - renewal_verification_failed
                        - entitlement_verification_unavailable
                    description: Machine-readable billing-verification state, mirrored in the X-Billing-Verification response header.
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint, when the denial came from a tier gate.
            required:
                - error
                - code
        InvalidRequestBodyError:
            type: object
            description: Returned when a JSON POST request body is empty or malformed.
            properties:
                message:
                    type: string
                    description: Invalid request body
            required:
                - message
        GatewayError:
            type: object
            description: Returned by gateway infrastructure errors before an RPC handler runs, such as origin, routing, method, authentication, or quota checks.
            properties:
                error:
                    oneOf:
                        - type: string
                        - type: object
                          additionalProperties: true
                    description: Gateway error reason or structured gateway failure details.
            required:
                - error
        RateLimitError:
            type: object
            description: Returned when a gateway or handler rate limit rejects the request.
            properties:
                error:
                    type: string
                    description: Human-readable rate-limit failure reason.
            required:
                - error
        ForbiddenError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable entitlement failure reason.
                code:
                    type: string
                    enum:
                        - subscription_lapsed
                    description: Machine-readable denial code, present when the 403 is a billing-provider-confirmed subscription lapse (mirrored in the X-Billing-Verification response header).
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint.
                currentTier:
                    type: integer
                    format: int32
                    description: Caller entitlement tier when known.
                planKey:
                    type: string
                    description: Caller plan key when known.
            required:
                - error
            description: Returned when a PRO-gated endpoint denies access because the caller has no resolved authenticated user, entitlements cannot be verified, or the caller lacks the required entitlement tier.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        ListNaturalEventsRequest:
            type: object
            properties:
                days:
                    type: integer
                    format: int32
                    description: Accepted but currently ignored; no-op until this handler supports the parameter.
        ListNaturalEventsResponse:
            type: object
            properties:
                events:
                    type: array
                    items:
                        $ref: '#/components/schemas/NaturalEvent'
                fetchedAt:
                    type: integer
                    format: int64
                    description: |-
                        Time the seed snapshot was fetched, as Unix epoch milliseconds. A value of
                         0 means the snapshot is unavailable/degraded, not that there are confirmed
                         zero natural events.. Warning: Values > 2^53 may lose precision in JavaScript
                dataAvailable:
                    type: boolean
                    description: |-
                        True when events came from a seed snapshot. False means an empty payload is
                         graceful degradation because the snapshot is unavailable.
        NaturalEvent:
            type: object
            properties:
                id:
                    type: string
                title:
                    type: string
                description:
                    type: string
                category:
                    type: string
                categoryTitle:
                    type: string
                lat:
                    type: number
                    format: double
                lon:
                    type: number
                    format: double
                date:
                    type: integer
                    format: int64
                    description: 'Warning: Values > 2^53 may lose precision in JavaScript'
                magnitude:
                    type: number
                    format: double
                magnitudeUnit:
                    type: string
                sourceUrl:
                    type: string
                sourceName:
                    type: string
                closed:
                    type: boolean
                stormId:
                    type: string
                    description: Optional tropical cyclone fields (populated for severeStorms from GDACS TC / NHC)
                stormName:
                    type: string
                basin:
                    type: string
                stormCategory:
                    type: integer
                    format: int32
                classification:
                    type: string
                windKt:
                    type: integer
                    format: int32
                pressureMb:
                    type: integer
                    format: int32
                movementDir:
                    type: integer
                    format: int32
                movementSpeedKt:
                    type: integer
                    format: int32
                forecastTrack:
                    type: array
                    items:
                        $ref: '#/components/schemas/ForecastPoint'
                conePolygon:
                    type: array
                    items:
                        $ref: '#/components/schemas/CoordRing'
                pastTrack:
                    type: array
                    items:
                        $ref: '#/components/schemas/PastTrackPoint'
                canonicalId:
                    type: string
                    description: |-
                        Cross-agency tropical cyclone identity and attribution. These fields keep
                         each agency's observation intact instead of collapsing incompatible wind
                         averaging periods into one number.
                matchingConfidence:
                    type: string
                canonicalAliases:
                    type: array
                    items:
                        type: string
                windAveragingPeriodMinutes:
                    type: integer
                    format: int32
                agencyObservations:
                    type: array
                    items:
                        $ref: '#/components/schemas/CycloneAgencyObservation'
        ForecastPoint:
            type: object
            properties:
                lat:
                    type: number
                    format: double
                lon:
                    type: number
                    format: double
                hour:
                    type: integer
                    format: int32
                windKt:
                    type: integer
                    format: int32
                category:
                    type: integer
                    format: int32
        CoordRing:
            type: object
            properties:
                points:
                    type: array
                    items:
                        $ref: '#/components/schemas/Coordinate'
        Coordinate:
            type: object
            properties:
                lon:
                    type: number
                    format: double
                lat:
                    type: number
                    format: double
        PastTrackPoint:
            type: object
            properties:
                lat:
                    type: number
                    format: double
                lon:
                    type: number
                    format: double
                windKt:
                    type: integer
                    format: int32
                timestamp:
                    type: integer
                    format: int64
                    description: 'Warning: Values > 2^53 may lose precision in JavaScript'
        CycloneAgencyObservation:
            type: object
            properties:
                agency:
                    type: string
                agencyId:
                    type: string
                observedAt:
                    type: integer
                    format: int64
                    description: 'Warning: Values > 2^53 may lose precision in JavaScript'
                lat:
                    type: number
                    format: double
                lon:
                    type: number
                    format: double
                windKt:
                    type: integer
                    format: int32
                windAveragingPeriodMinutes:
                    type: integer
                    format: int32
                pressureMb:
                    type: integer
                    format: int32
                classification:
                    type: string
                status:
                    type: string
                sourceName:
                    type: string
                sourceUrl:
                    type: string
