openapi: 3.1.0
info:
    title: NewsService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/news/v1/summarize-article:
        post:
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Optional client-generated idempotency key. Retrying a POST with the same key and an identical request body replays the original response (only the status, body, and Content-Type are reproduced) instead of re-executing; reusing the key with a different body is rejected with 422. For mutations this avoids duplicating the side effect, while for batch-read POSTs it replays a cached snapshot that can be up to 24 hours stale. Keys are scoped per authenticated caller (falling back to the source IP for unauthenticated endpoints) and retained for 24 hours.
                  required: false
                  example: "4f8b9c2e-1a3d-4b6f-8e0a-2c5d7f9b1e34"
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
                    pattern: "^[\\x21-\\x7E]{1,255}$"
            tags:
                - NewsService
            summary: SummarizeArticle
            description: Generate an article summary with language-model provider selection and fallback support, returning the chosen provider, model and reported processing errors.
            operationId: SummarizeArticle
            requestBody:
                content:
                    application/json:
                        example:
                            "bodies":
                                - "example"
                            "geoContext": "example"
                            "headlines":
                                - "example"
                            "lang": "en"
                            "mode": "brief"
                            "provider": "openrouter"
                        schema:
                            $ref: '#/components/schemas/SummarizeArticleRequest'
                required: true
            responses:
                "200":
                    description: Successful response
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key echoed from the request. Present only when the client opted into idempotency.
                        Idempotent-Replayed:
                            schema:
                                type: boolean
                            description: true when this response was replayed from an earlier request with the same key, false on the first (original) request. Present only when the client opted into idempotency.
                    content:
                        application/json:
                            example:
                                "error": "example"
                                "errorType": "all"
                                "fallback": true
                                "model": "example"
                                "provider": "openrouter"
                            schema:
                                $ref: '#/components/schemas/SummarizeArticleResponse'
                "400":
                    description: Validation error, invalid Idempotency-Key header, or malformed JSON request body
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - type: object
                                      required:
                                        - error
                                        - message
                                      properties:
                                        error:
                                            type: string
                                        message:
                                            type: string
                                    - $ref: '#/components/schemas/InvalidRequestBodyError'
                "409":
                    description: A request with this Idempotency-Key is still being processed
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key supplied by the client.
                        Retry-After:
                            schema:
                                type: string
                            description: Seconds to wait before retrying the in-flight request.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - error
                                    - message
                                properties:
                                    error:
                                        type: string
                                    message:
                                        type: string
                "422":
                    description: The Idempotency-Key was already used with a different request body
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key supplied by the client.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - error
                                    - message
                                properties:
                                    error:
                                        type: string
                                    message:
                                        type: string
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/news/v1/summarize-article-cache:
        get:
            tags:
                - NewsService
            summary: GetSummarizeArticleCache
            description: GetSummarizeArticleCache looks up a cached summary by deterministic key (CDN-cacheable GET).
            operationId: GetSummarizeArticleCache
            parameters:
                - name: cache_key
                  in: query
                  description: Deterministic cache key computed by buildSummaryCacheKey().
                  required: false
                  example: "summary:v1:example-cache"
                  schema:
                    type: string
                    pattern: '^summary:v\d+:[a-z0-9:_-]{3,120}$'
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "error": "example"
                                "errorType": "all"
                                "fallback": true
                                "model": "example"
                                "provider": "openrouter"
                            schema:
                                $ref: '#/components/schemas/SummarizeArticleResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/news/v1/list-feed-digest:
        get:
            tags:
                - NewsService
            summary: ListFeedDigest
            description: ListFeedDigest returns a pre-aggregated digest of all RSS feeds for a site variant.
            operationId: ListFeedDigest
            parameters:
                - name: variant
                  in: query
                  description: 'Digest variant: full, tech, finance, happy, commodity. Unsupported site variants, including energy, currently fall back to full.'
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: lang
                  in: query
                  description: ISO 639-1 language code (en, fr, ar, etc.)
                  required: false
                  example: "en"
                  schema:
                    type: string
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "categories":
                                    "exampleKey":
                                        "items":
                                            - "corroborationCount": 42
                                              "credibilityScore": 42
                                              "importanceScore": 42
                                              "isAlert": true
                                              "link": "https://example.com/worldmonitor"
                                              "source": "example"
                                              "title": "example"
                                "coverage":
                                    "attemptedAt": "2026-01-15T12:00:00Z"
                                    "categoryCompleted": 1
                                    "categoryStates":
                                        "exampleKey": "example"
                                    "categoryTotal": 1
                                    "droppedCategoryCap": 1
                                "feedStatuses":
                                    "exampleKey": "example"
                                "generatedAt": "2026-01-15T12:00:00Z"
                            schema:
                                $ref: '#/components/schemas/ListFeedDigestResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/news/v1/list-country-headlines:
        get:
            tags:
                - NewsService
            summary: ListCountryHeadlines
            description: ListCountryHeadlines reads fresh country reporting from existing RSS caches without fetching publishers or applying dashboard category caps.
            operationId: ListCountryHeadlines
            parameters:
                - name: country_codes
                  in: query
                  description: ISO 3166-1 alpha-2 codes. Repeated query parameter, at most 250 countries.
                  required: true
                  style: form
                  explode: true
                  example:
                      - "US"
                  schema:
                    type: array
                    maxItems: 250
                    minItems: 1
                    items:
                      type: string
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "countries":
                                    "exampleKey":
                                        "items":
                                            - "link": "https://example.com/worldmonitor"
                                              "publishedAt": 1717200000000
                                              "source": "example"
                                              "title": "example"
                                "feedCached": 1
                                "feedTotal": 1
                                "readAt": "2026-01-15T12:00:00Z"
                                "state": "example"
                            schema:
                                $ref: '#/components/schemas/ListCountryHeadlinesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        JmespathProjectionError:
            description: Returned when a REST jmespath projection is invalid or exceeds the expression/output byte limits.
            properties:
                _jmespath_error:
                    description: Projection error discriminator and details.
                    type: string
                original_keys:
                    description: Top-level keys or shape of the unprojected response.
                    items:
                        type: string
                    type: array
            required:
                - _jmespath_error
                - original_keys
            type: object
        UnauthorizedError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable error message.
            required:
                - error
            description: Returned when the API key is missing, malformed, or lacks current API access.
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        BillingVerificationError:
            type: object
            description: "Returned with HTTP 503 when paid access cannot be confirmed right now: the billing provider is re-verifying a recently expired subscription, or the entitlement backend is unreachable. Retryable — honor Retry-After."
            properties:
                error:
                    type: string
                    description: Human-readable billing-verification failure reason.
                code:
                    type: string
                    enum:
                        - renewal_verification_pending
                        - renewal_verification_failed
                        - entitlement_verification_unavailable
                    description: Machine-readable billing-verification state, mirrored in the X-Billing-Verification response header.
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint, when the denial came from a tier gate.
            required:
                - error
                - code
        InvalidRequestBodyError:
            type: object
            description: Returned when a JSON POST request body is empty or malformed.
            properties:
                message:
                    type: string
                    description: Invalid request body
            required:
                - message
        GatewayError:
            type: object
            description: Returned by gateway infrastructure errors before an RPC handler runs, such as origin, routing, method, authentication, or quota checks.
            properties:
                error:
                    oneOf:
                        - type: string
                        - type: object
                          additionalProperties: true
                    description: Gateway error reason or structured gateway failure details.
            required:
                - error
        RateLimitError:
            type: object
            description: Returned when a gateway or handler rate limit rejects the request.
            properties:
                error:
                    type: string
                    description: Human-readable rate-limit failure reason.
            required:
                - error
        ForbiddenError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable entitlement failure reason.
                code:
                    type: string
                    enum:
                        - subscription_lapsed
                    description: Machine-readable denial code, present when the 403 is a billing-provider-confirmed subscription lapse (mirrored in the X-Billing-Verification response header).
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint.
                currentTier:
                    type: integer
                    format: int32
                    description: Caller entitlement tier when known.
                planKey:
                    type: string
                    description: Caller plan key when known.
            required:
                - error
            description: Returned when a PRO-gated endpoint denies access because the caller has no resolved authenticated user, entitlements cannot be verified, or the caller lacks the required entitlement tier.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        SummarizeArticleRequest:
            type: object
            properties:
                provider:
                    type: string
                    minLength: 1
                    description: 'LLM provider: "ollama", "groq", "openrouter"'
                headlines:
                    type: array
                    items:
                        type: string
                        minItems: 1
                        description: |-
                            Headlines to summarize. Up to 10 raw headlines are used for request
                             identity/cache matching; the LLM prompt uses up to 5 unique, non-empty
                             sanitized headline/body pairs.
                    minItems: 1
                mode:
                    type: string
                    description: 'Summarization mode: "brief", "analysis", "translate", "" (default).'
                geoContext:
                    type: string
                    description: Geographic signal context to include in the prompt.
                variant:
                    type: string
                    description: 'Variant: "full", "tech", or target language for translate mode.'
                lang:
                    type: string
                    description: Output language code, default "en".
                systemAppend:
                    type: string
                    description: Optional system prompt append for analytical framework instructions.
                bodies:
                    type: array
                    items:
                        type: string
                        description: |-
                            Optional article bodies paired 1:1 with `headlines`. When bodies[i] is
                             non-empty, the prompt interleaves it as grounding context under
                             headlines[i]; when empty, behavior is identical to headline-only today.
                             Callers may supply a shorter array; missing entries are treated as empty.
                             Each body is subject to the same sanitisation as headlines before reaching
                             the LLM prompt.
            required:
                - provider
            description: SummarizeArticleRequest specifies parameters for LLM article summarization.
        SummarizeArticleResponse:
            type: object
            properties:
                summary:
                    type: string
                    description: The generated summary text.
                model:
                    type: string
                    description: Model identifier used for generation.
                provider:
                    type: string
                    description: Provider that produced the result (or "cache").
                tokens:
                    type: integer
                    format: int32
                    description: Token count from the LLM response.
                fallback:
                    type: boolean
                    description: Whether the client should try the next provider in the fallback chain.
                error:
                    type: string
                    description: Error message if the request failed.
                errorType:
                    type: string
                    description: Error type/name (e.g. "TypeError").
                status:
                    type: string
                    enum:
                        - SUMMARIZE_STATUS_UNSPECIFIED
                        - SUMMARIZE_STATUS_SUCCESS
                        - SUMMARIZE_STATUS_CACHED
                        - SUMMARIZE_STATUS_SKIPPED
                        - SUMMARIZE_STATUS_ERROR
                    description: SummarizeStatus indicates the outcome of a summarization request.
                statusDetail:
                    type: string
                    description: Human-readable detail for non-success statuses (skip reason, etc.).
            description: SummarizeArticleResponse contains the LLM summarization result.
        GetSummarizeArticleCacheRequest:
            type: object
            properties:
                cacheKey:
                    type: string
                    description: Deterministic cache key computed by buildSummaryCacheKey().
            description: GetSummarizeArticleCacheRequest looks up a pre-computed summary by cache key.
        ListFeedDigestRequest:
            type: object
            properties:
                variant:
                    type: string
                    description: 'Digest variant: full, tech, finance, happy, commodity. Unsupported site variants, including energy, currently fall back to full.'
                lang:
                    type: string
                    description: ISO 639-1 language code (en, fr, ar, etc.)
        ListFeedDigestResponse:
            type: object
            properties:
                categories:
                    type: object
                    additionalProperties:
                        $ref: '#/components/schemas/CategoryBucket'
                    description: Per-category buckets — keys match category names from feed config
                feedStatuses:
                    type: object
                    additionalProperties:
                        type: string
                    description: |-
                        Per-feed status — only non-ok states emitted; absent key implies ok.
                         Values: empty (feed returned 0 items), timeout (timed out during fetch),
                         all-undated (every parsed item lacked a usable date), partial-undated
                         (some parsed items lacked a usable date).
                generatedAt:
                    type: string
                    description: ISO 8601 timestamp of when this digest was generated
                coverage:
                    $ref: '#/components/schemas/DigestCoverage'
        CategoriesEntry:
            type: object
            properties:
                key:
                    type: string
                value:
                    $ref: '#/components/schemas/CategoryBucket'
        FeedStatusesEntry:
            type: object
            properties:
                key:
                    type: string
                value:
                    type: string
        CategoryBucket:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/NewsItem'
        NewsItem:
            type: object
            properties:
                source:
                    type: string
                    minLength: 1
                    description: Source feed name.
                title:
                    type: string
                    minLength: 1
                    description: Article headline.
                link:
                    type: string
                    description: Article URL.
                publishedAt:
                    type: integer
                    format: int64
                    description: 'Publication time, as Unix epoch milliseconds.. Warning: Values > 2^53 may lose precision in JavaScript'
                isAlert:
                    type: boolean
                    description: Whether this article triggered an alert condition.
                threat:
                    $ref: '#/components/schemas/ThreatClassification'
                location:
                    $ref: '#/components/schemas/GeoCoordinates'
                locationName:
                    type: string
                    description: Human-readable location name.
                importanceScore:
                    type: integer
                    format: int32
                    description: |-
                        Composite importance score. The base 0-100 score uses severity × 55% +
                         source tier × 20% + corroboration × 15% + recency × 10%, then may add an
                         18-point diplomacy/flashpoint boost and 4 points per entity-level
                         corroborating source, capped at five sources. The final score can exceed
                         100; with current boosts it is approximately capped at 138.
                corroborationCount:
                    type: integer
                    format: int32
                    description: |-
                        Number of distinct sources that reported the same story in this digest
                         cycle. "Same story" is determined by edit-tolerant story-identity
                         clustering (headlines describing one event with different wording,
                         ordering, source suffixes, truncation, or morphology corroborate each
                         other) — not exact-title matching. See shared/story-identity.js.
                storyMeta:
                    $ref: '#/components/schemas/StoryMeta'
                snippet:
                    type: string
                    description: |-
                        Cleaned article description from the RSS/Atom <description> /
                         <content:encoded> / <summary> / <content> tag: HTML-stripped,
                         entity-decoded, whitespace-normalised, clipped to 400 chars. Empty string
                         when unavailable or indistinguishable from the headline — consumers must
                         fall back to the headline for display/LLM grounding in that case.
                tickers:
                    type: array
                    items:
                        type: string
                        maxItems: 8
                        description: |-
                            Equity ticker symbols mentioned by the story, extracted at ingest from
                             cashtags ($AAPL) and the curated company dictionary
                             (shared/stocks.json). Uppercase symbols, deduplicated, capped at 8.
                             Empty when no tracked ticker is mentioned. See shared/ticker-extract.js.
                    maxItems: 8
                credibilityScore:
                    type: integer
                    format: int32
                    description: |-
                        Credibility score (0-100), distinct from importance_score. Measures
                         source reliability / truthfulness, not newsworthiness. The base score
                         uses source tier × 30% + propaganda risk × 50% + independent
                         corroboration × 20%. High propaganda-risk sources (state-controlled
                         media) are capped at 40 so a highly newsworthy RT/TASS story still
                         scores low. Third-party bias/factuality ratings are reserved and not
                         currently applied. See docs/methodology/news-credibility.mdx.
            required:
                - source
                - title
            description: NewsItem represents a single news article from RSS feed aggregation.
        ThreatClassification:
            type: object
            properties:
                level:
                    type: string
                    enum:
                        - THREAT_LEVEL_UNSPECIFIED
                        - THREAT_LEVEL_LOW
                        - THREAT_LEVEL_MEDIUM
                        - THREAT_LEVEL_HIGH
                        - THREAT_LEVEL_CRITICAL
                    description: ThreatLevel represents the assessed threat level of a news event.
                category:
                    type: string
                    description: Event category.
                confidence:
                    type: number
                    maximum: 1
                    minimum: 0
                    format: double
                    description: Confidence score (0.0 to 1.0).
                source:
                    type: string
                    description: |-
                        Classification source — "keyword", "keyword-historical-downgrade", or
                         "llm".
            description: ThreatClassification represents an AI-assessed threat level for a news item.
        GeoCoordinates:
            type: object
            properties:
                latitude:
                    type: number
                    maximum: 90
                    minimum: -90
                    format: double
                    description: Latitude in decimal degrees (-90 to 90).
                longitude:
                    type: number
                    maximum: 180
                    minimum: -180
                    format: double
                    description: Longitude in decimal degrees (-180 to 180).
            description: GeoCoordinates represents a geographic location using WGS84 coordinates.
        StoryMeta:
            type: object
            properties:
                firstSeen:
                    type: integer
                    format: int64
                    description: 'Epoch ms when the story first appeared in any digest cycle.. Warning: Values > 2^53 may lose precision in JavaScript'
                mentionCount:
                    type: integer
                    format: int32
                    description: Total number of digest cycles in which this story appeared.
                sourceCount:
                    type: integer
                    format: int32
                    description: |-
                        Number of unique sources reporting this story in the CURRENT digest
                         cycle (batch corroboration from fuzzy story clustering, #4919;
                         defaults to 1 for unclustered items). The cross-cycle Redis source
                         set (story:sources:v1) feeds importance scoring, not this field.
                phase:
                    type: string
                    enum:
                        - STORY_PHASE_UNSPECIFIED
                        - STORY_PHASE_BREAKING
                        - STORY_PHASE_DEVELOPING
                        - STORY_PHASE_SUSTAINED
                        - STORY_PHASE_FADING
                    description: StoryPhase represents the lifecycle stage of a tracked news story.
            description: StoryMeta carries cross-cycle persistence data attached to each news item.
        DigestCoverage:
            type: object
            properties:
                state:
                    type: string
                    description: |-
                        complete | partial | stale | unavailable.
                         complete: every configured category had at least one completed eligible
                           feed and the build did not hit the global deadline.
                         partial: content exists, but a category had no completed feed or the
                           build hit the global deadline.
                         stale: accepted older content is served after a failed or gate-held attempt
                           (durable last-good serving, #7084).
                         unavailable: no eligible content could be served.
                attemptedAt:
                    type: string
                    description: ISO 8601 time of the latest build attempt (attempt identity).
                itemsServed:
                    type: integer
                    format: int32
                    description: Items served in this response, after every gate.
                publisherCount:
                    type: integer
                    format: int32
                    description: |-
                        Distinct publishers among the served items (normalized source labels,
                         current cycle only — not feed-label counts, not historical sets).
                feedTotal:
                    type: integer
                    format: int32
                    description: |-
                        Eligible feeds configured for this variant+language, and how many
                         completed (with or without items).
                feedCompleted:
                    type: integer
                    format: int32
                categoryTotal:
                    type: integer
                    format: int32
                    description: Configured categories, and how many had at least one completed feed.
                categoryCompleted:
                    type: integer
                    format: int32
                categoryStates:
                    type: object
                    additionalProperties:
                        type: string
                    description: 'Per-category state: ok (a feed completed) | missing (none did).'
                droppedFeedCap:
                    type: integer
                    format: int32
                    description: |-
                        Per-gate drop counts, named by gate position in the pipeline:
                         feed cap, undated-item, freshness floor, category cap.
                droppedUndated:
                    type: integer
                    format: int32
                droppedFreshness:
                    type: integer
                    format: int32
                droppedCategoryCap:
                    type: integer
                    format: int32
                servedStale:
                    type: boolean
                    description: |-
                        Durable last-good serving (#7084): true exactly when accepted older
                         content is replayed after a failed or gate-held attempt. The content counts
                         above still describe the served body; attempted_at names that latest
                         attempt, so it and generated_at diverge on a replay.
                staleAgeSeconds:
                    type: integer
                    format: int32
                    description: |-
                        Age of the served content since acceptance, in seconds (0 when fresh).
                         Bounded at 21600 (six hours): past that window the service reports
                         state=unavailable rather than serving older content.
                staleReason:
                    type: string
                    description: 'Closed stale reason: empty-rebuild | build-error | gate-held (empty when fresh).'
            description: |-
                Content vs attempt state for one digest response (#7085). generated_at
                 keeps the CONTENT identity (when the served items were produced);
                 attempted_at keeps the latest BUILD identity — the two diverge when
                 stale content is served after a failed or gate-held attempt (#7084).
        CategoryStatesEntry:
            type: object
            properties:
                key:
                    type: string
                value:
                    type: string
        ListCountryHeadlinesRequest:
            type: object
            properties:
                countryCodes:
                    type: array
                    items:
                        type: string
                        description: ISO 3166-1 alpha-2 codes. Repeated query parameter, at most 250 countries.
                    maxItems: 250
                    minItems: 1
            required:
                - countryCodes
            description: ListCountryHeadlinesRequest selects countries from the full English RSS pool.
        ListCountryHeadlinesResponse:
            type: object
            properties:
                countries:
                    type: object
                    additionalProperties:
                        $ref: '#/components/schemas/CountryHeadlineBucket'
                    description: Requested country codes with matching headlines; absent countries had no match.
                state:
                    type: string
                    description: complete | partial | unavailable. A failed revocation read is unavailable.
                feedTotal:
                    type: integer
                    format: int32
                    description: Configured full-variant feeds reachable from the English digest.
                feedCached:
                    type: integer
                    format: int32
                    description: Feeds whose parsed cache was available, including cached empty feeds.
                readAt:
                    type: string
                    description: Time the caches were read; article freshness is determined by published_at.
            description: ListCountryHeadlinesResponse describes cache availability independently of country matches.
        CountriesEntry:
            type: object
            properties:
                key:
                    type: string
                value:
                    $ref: '#/components/schemas/CountryHeadlineBucket'
        CountryHeadlineBucket:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/CountryHeadline'
                    maxItems: 5
            description: CountryHeadlineBucket contains at most five distinct article URLs.
        CountryHeadline:
            type: object
            properties:
                source:
                    type: string
                    description: 'Publisher name: trusted origin publisher or registered feed name.'
                title:
                    type: string
                    description: Headline that names the requested country.
                link:
                    type: string
                    description: HTTPS article URL.
                publishedAt:
                    type: integer
                    format: int64
                    description: 'Publisher publication time in Unix epoch milliseconds.. Warning: Values > 2^53 may lose precision in JavaScript'
            description: CountryHeadline is a dated article from a configured RSS feed, before dashboard category caps.
