openapi: 3.1.0
info:
    title: PredictionService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/prediction/v1/list-prediction-markets:
        get:
            tags:
                - PredictionService
            summary: ListPredictionMarkets
            description: |-
                ListPredictionMarkets retrieves active prediction markets from seeded market snapshots.
                 Empty markets with fetched_at=0 or data_available=false means the seed
                 snapshot is unavailable/degraded, not that there are confirmed zero markets.
            operationId: ListPredictionMarkets
            parameters:
                - name: page_size
                  in: query
                  description: Maximum items per page (1-100).
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: |-
                    Cursor for next page.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: "next-page-token"
                  schema:
                    type: string
                - name: category
                  in: query
                  description: Optional category filter (e.g., "Politics").
                  required: false
                  example: "ai"
                  schema:
                    type: string
                    enum:
                        - 'ai'
                        - 'tech'
                        - 'crypto'
                        - 'science'
                        - 'economy'
                        - 'fed'
                        - 'inflation'
                        - 'interest-rates'
                        - 'recession'
                        - 'trade'
                        - 'tariffs'
                        - 'debt-ceiling'
                - name: query
                  in: query
                  description: Optional search query for market titles.
                  required: false
                  example: "supply chain risk"
                  schema:
                    type: string
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "dataAvailable": true
                                "fetchedAt": 1717200000000
                                "markets":
                                    - "category": "cs.AI"
                                      "closesAt": 1717200000000
                                      "id": "example-id"
                                      "source": "MARKET_SOURCE_POLYMARKET"
                                      "title": "example"
                                      "url": "https://example.com/worldmonitor"
                                "pagination":
                                    "nextCursor": "next-page-token"
                                    "totalCount": 1
                            schema:
                                $ref: '#/components/schemas/ListPredictionMarketsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        JmespathProjectionError:
            description: Returned when a REST jmespath projection is invalid or exceeds the expression/output byte limits.
            properties:
                _jmespath_error:
                    description: Projection error discriminator and details.
                    type: string
                original_keys:
                    description: Top-level keys or shape of the unprojected response.
                    items:
                        type: string
                    type: array
            required:
                - _jmespath_error
                - original_keys
            type: object
        UnauthorizedError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable error message.
            required:
                - error
            description: Returned when the API key is missing, malformed, or lacks current API access.
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        ForbiddenError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable entitlement failure reason.
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint.
                currentTier:
                    type: integer
                    format: int32
                    description: Caller entitlement tier when known.
                planKey:
                    type: string
                    description: Caller plan key when known.
            required:
                - error
            description: Returned when a PRO-gated endpoint denies access because the caller has no resolved authenticated user, entitlements cannot be verified, or the caller lacks the required entitlement tier.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        ListPredictionMarketsRequest:
            type: object
            properties:
                pageSize:
                    type: integer
                    format: int32
                    description: Maximum items per page (1-100).
                cursor:
                    type: string
                    description: |-
                        Cursor for next page.
                         Accepted but currently ignored; no-op until this handler supports the parameter.
                category:
                    type: string
                    description: Optional category filter (e.g., "Politics").
                query:
                    type: string
                    description: Optional search query for market titles.
            description: ListPredictionMarketsRequest specifies filters for retrieving prediction markets.
        ListPredictionMarketsResponse:
            type: object
            properties:
                markets:
                    type: array
                    items:
                        $ref: '#/components/schemas/PredictionMarket'
                pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                fetchedAt:
                    type: integer
                    format: int64
                    description: |-
                        Time the seed snapshot was fetched, as Unix epoch milliseconds. A value of
                         0 means the snapshot is unavailable/degraded, not that there are confirmed
                         zero matching markets.. Warning: Values > 2^53 may lose precision in JavaScript
                dataAvailable:
                    type: boolean
                    description: |-
                        True when markets were evaluated against a seed snapshot. False means an
                         empty payload is graceful degradation because the snapshot is unavailable.
            description: ListPredictionMarketsResponse contains prediction markets matching the request.
        PredictionMarket:
            type: object
            properties:
                id:
                    type: string
                    minLength: 1
                    description: Unique market identifier or slug.
                title:
                    type: string
                    description: Market question or title.
                yesPrice:
                    type: number
                    maximum: 1
                    minimum: 0
                    format: double
                    description: Current "Yes" price (0.0 to 1.0, representing probability).
                volume:
                    type: number
                    minimum: 0
                    format: double
                    description: Trading volume in USD.
                url:
                    type: string
                    description: URL to the market page.
                closesAt:
                    type: integer
                    format: int64
                    description: 'Market close time, as Unix epoch milliseconds. Zero if no expiry.. Warning: Values > 2^53 may lose precision in JavaScript'
                category:
                    type: string
                    description: Market category (e.g., "Politics", "Crypto", "Sports").
                source:
                    type: string
                    enum:
                        - MARKET_SOURCE_UNSPECIFIED
                        - MARKET_SOURCE_POLYMARKET
                        - MARKET_SOURCE_KALSHI
                    description: Source platform for prediction market data.
            required:
                - id
            description: PredictionMarket represents a prediction market contract.
        PaginationResponse:
            type: object
            properties:
                nextCursor:
                    type: string
                    description: Cursor for fetching the next page. Empty string indicates no more pages.
                totalCount:
                    type: integer
                    format: int32
                    description: Total count of items matching the query, if known. Zero if the total is unknown.
            description: PaginationResponse contains pagination metadata returned alongside list results.
