openapi: 3.1.0
info:
  title: ScenarioService API
  version: 1.0.0
  description: |
    Supply-chain scenario runner. Enqueues a named scenario template against an
    optional country, then polls for worker-computed results. Hand-written spec
    (not proto-generated). PRO-gated on both enqueue and status read.
servers:
  - url: https://api.worldmonitor.app
paths:
  /api/scenario/v1/templates:
    get:
      tags:
        - ScenarioService
      summary: ListTemplates
      description: Returns the catalog of pre-defined supply-chain scenario templates.
      operationId: ListScenarioTemplates
      responses:
        "200":
          description: Template catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTemplatesResponse'
        "405":
          description: Method Not Allowed (only GET supported).

  /api/scenario/v1/run:
    post:
      tags:
        - ScenarioService
      summary: RunScenario
      description: |
        Enqueues a scenario job. Returns `202 Accepted` with a `jobId` the
        caller must poll via `/api/scenario/v1/status?jobId=...`.

        **Limits:** 10 jobs per user per minute; 503 when queue depth > 100.
      operationId: RunScenario
      security:
        - ProApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunScenarioRequest'
      responses:
        "202":
          description: Job enqueued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunScenarioResponse'
        "400":
          description: Invalid JSON, missing `scenarioId`, unknown scenario, or malformed `iso2`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: PRO subscription required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "405":
          description: Method Not Allowed (only POST supported).
        "429":
          description: Rate limit exceeded or queue at capacity.
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "502":
          description: Failed to enqueue job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "503":
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/scenario/v1/status:
    get:
      tags:
        - ScenarioService
      summary: GetScenarioStatus
      description: |
        Polls the result for a previously-enqueued job. Returns
        `{jobId, status: "pending"}` while the worker is still running, or the
        full scenario result once complete.
      operationId: GetScenarioStatus
      security:
        - ProApiKey: []
      parameters:
        - name: jobId
          in: query
          required: true
          description: Job id in the form `scenario:{unix-ms}:{8-char-suffix}` returned by `RunScenario`.
          schema:
            type: string
            pattern: '^scenario:\d{13}:[a-z0-9]{8}$'
      responses:
        "200":
          description: Pending or completed job.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PendingStatus'
                  - $ref: '#/components/schemas/ScenarioResult'
        "400":
          description: Invalid or missing `jobId`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: PRO subscription required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "405":
          description: Method Not Allowed (only GET supported).
        "500":
          description: Corrupted job result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "502":
          description: Failed to fetch job status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "503":
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    ProApiKey:
      type: apiKey
      in: header
      name: X-WorldMonitor-Key
      description: PRO API key (or authenticated browser origin via Clerk session).
  schemas:
    ListTemplatesResponse:
      type: object
      properties:
        templates:
          type: array
          items:
            $ref: '#/components/schemas/Template'
    Template:
      type: object
      properties:
        id:
          type: string
          description: Scenario identifier (e.g. `hormuz-closure-30d`).
        name:
          type: string
        affectedChokepointIds:
          type: array
          items:
            type: string
        disruptionPct:
          type: number
          format: double
        durationDays:
          type: integer
        affectedHs2:
          type: array
          items:
            type: string
          description: HS2 commodity codes affected.
        costShockMultiplier:
          type: number
          format: double
    RunScenarioRequest:
      type: object
      required:
        - scenarioId
      properties:
        scenarioId:
          type: string
          description: One of the ids returned by `/api/scenario/v1/templates`.
        iso2:
          type: string
          nullable: true
          pattern: '^[A-Z]{2}$'
          description: Optional ISO-3166-1 alpha-2 country code to scope the scenario to.
    RunScenarioResponse:
      type: object
      required:
        - jobId
        - status
        - statusUrl
      properties:
        jobId:
          type: string
          example: 'scenario:1713456789012:a1b2c3d4'
        status:
          type: string
          enum: [pending]
        statusUrl:
          type: string
          example: '/api/scenario/v1/status?jobId=scenario:1713456789012:a1b2c3d4'
    PendingStatus:
      type: object
      required: [jobId, status]
      properties:
        jobId:
          type: string
        status:
          type: string
          enum: [pending]
    ScenarioResult:
      type: object
      description: Worker output. Shape is scenario-specific; common fields listed below.
      properties:
        jobId:
          type: string
        scenarioId:
          type: string
        iso2:
          type: string
          nullable: true
        status:
          type: string
          enum: [completed, failed]
        completedAt:
          type: integer
          format: int64
        result:
          type: object
          additionalProperties: true
        error:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
