openapi: 3.1.0
info:
    title: ThermalService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/thermal/v1/list-thermal-escalations:
        get:
            tags:
                - ThermalService
            summary: ListThermalEscalations
            description: |-
                ListThermalEscalations retrieves seeded thermal anomaly clusters. Empty
                 clusters with empty fetched_at or data_available=false means the seed
                 snapshot is unavailable/degraded, not that escalation is confirmed absent.
            operationId: ListThermalEscalations
            parameters:
                - name: max_items
                  in: query
                  description: Maximum number of thermal escalation clusters to return.
                  required: false
                  example: 1
                  schema:
                    type: integer
                    format: int32
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "clusters":
                                    - "avgBrightness": 1.5
                                      "baselineExpectedCount": 1
                                      "baselineExpectedFrp": 1.5
                                      "centroid":
                                          "latitude": 40.7128
                                          "longitude": -74.006
                                      "confidence": "THERMAL_CONFIDENCE_LOW"
                                "dataAvailable": true
                                "fetchedAt": "2026-01-15T12:00:00Z"
                                "observationWindowHours": 1
                                "sourceVersion": "example"
                            schema:
                                $ref: '#/components/schemas/ListThermalEscalationsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        JmespathProjectionError:
            description: Returned when a REST jmespath projection is invalid or exceeds the expression/output byte limits.
            properties:
                _jmespath_error:
                    description: Projection error discriminator and details.
                    type: string
                original_keys:
                    description: Top-level keys or shape of the unprojected response.
                    items:
                        type: string
                    type: array
            required:
                - _jmespath_error
                - original_keys
            type: object
        UnauthorizedError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable error message.
            required:
                - error
            description: Returned when the API key is missing, malformed, or lacks current API access.
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        BillingVerificationError:
            type: object
            description: "Returned with HTTP 503 when paid access cannot be confirmed right now: the billing provider is re-verifying a recently expired subscription, or the entitlement backend is unreachable. Retryable — honor Retry-After."
            properties:
                error:
                    type: string
                    description: Human-readable billing-verification failure reason.
                code:
                    type: string
                    enum:
                        - renewal_verification_pending
                        - renewal_verification_failed
                        - entitlement_verification_unavailable
                    description: Machine-readable billing-verification state, mirrored in the X-Billing-Verification response header.
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint, when the denial came from a tier gate.
            required:
                - error
                - code
        InvalidRequestBodyError:
            type: object
            description: Returned when a JSON POST request body is empty or malformed.
            properties:
                message:
                    type: string
                    description: Invalid request body
            required:
                - message
        GatewayError:
            type: object
            description: Returned by gateway infrastructure errors before an RPC handler runs, such as origin, routing, method, authentication, or quota checks.
            properties:
                error:
                    oneOf:
                        - type: string
                        - type: object
                          additionalProperties: true
                    description: Gateway error reason or structured gateway failure details.
            required:
                - error
        RateLimitError:
            type: object
            description: Returned when a gateway or handler rate limit rejects the request.
            properties:
                error:
                    type: string
                    description: Human-readable rate-limit failure reason.
            required:
                - error
        ForbiddenError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable entitlement failure reason.
                code:
                    type: string
                    enum:
                        - subscription_lapsed
                    description: Machine-readable denial code, present when the 403 is a billing-provider-confirmed subscription lapse (mirrored in the X-Billing-Verification response header).
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint.
                currentTier:
                    type: integer
                    format: int32
                    description: Caller entitlement tier when known.
                planKey:
                    type: string
                    description: Caller plan key when known.
            required:
                - error
            description: Returned when a PRO-gated endpoint denies access because the caller has no resolved authenticated user, entitlements cannot be verified, or the caller lacks the required entitlement tier.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        ListThermalEscalationsRequest:
            type: object
            properties:
                maxItems:
                    type: integer
                    format: int32
                    description: Maximum number of thermal escalation clusters to return.
        ListThermalEscalationsResponse:
            type: object
            properties:
                fetchedAt:
                    type: string
                    description: |-
                        ISO-8601 time the seed snapshot was fetched. Empty string means the
                         snapshot is unavailable/degraded, not that thermal escalation is confirmed
                         absent.
                observationWindowHours:
                    type: integer
                    format: int32
                sourceVersion:
                    type: string
                clusters:
                    type: array
                    items:
                        $ref: '#/components/schemas/ThermalEscalationCluster'
                summary:
                    $ref: '#/components/schemas/ThermalEscalationSummary'
                dataAvailable:
                    type: boolean
                    description: |-
                        True when clusters came from a seed snapshot. False means an empty payload
                         is graceful degradation because the snapshot is unavailable.
        ThermalEscalationCluster:
            type: object
            properties:
                id:
                    type: string
                centroid:
                    $ref: '#/components/schemas/GeoCoordinates'
                countryCode:
                    type: string
                countryName:
                    type: string
                regionLabel:
                    type: string
                firstDetectedAt:
                    type: string
                lastDetectedAt:
                    type: string
                observationCount:
                    type: integer
                    format: int32
                uniqueSourceCount:
                    type: integer
                    format: int32
                maxBrightness:
                    type: number
                    format: double
                avgBrightness:
                    type: number
                    format: double
                maxFrp:
                    type: number
                    format: double
                totalFrp:
                    type: number
                    format: double
                nightDetectionShare:
                    type: number
                    format: double
                baselineExpectedCount:
                    type: number
                    format: double
                baselineExpectedFrp:
                    type: number
                    format: double
                countDelta:
                    type: number
                    format: double
                frpDelta:
                    type: number
                    format: double
                zScore:
                    type: number
                    format: double
                persistenceHours:
                    type: number
                    format: double
                status:
                    type: string
                    enum:
                        - THERMAL_STATUS_UNSPECIFIED
                        - THERMAL_STATUS_NORMAL
                        - THERMAL_STATUS_ELEVATED
                        - THERMAL_STATUS_SPIKE
                        - THERMAL_STATUS_PERSISTENT
                context:
                    type: string
                    enum:
                        - THERMAL_CONTEXT_UNSPECIFIED
                        - THERMAL_CONTEXT_WILDLAND
                        - THERMAL_CONTEXT_URBAN_EDGE
                        - THERMAL_CONTEXT_INDUSTRIAL
                        - THERMAL_CONTEXT_ENERGY_ADJACENT
                        - THERMAL_CONTEXT_CONFLICT_ADJACENT
                        - THERMAL_CONTEXT_LOGISTICS_ADJACENT
                        - THERMAL_CONTEXT_MIXED
                confidence:
                    type: string
                    enum:
                        - THERMAL_CONFIDENCE_UNSPECIFIED
                        - THERMAL_CONFIDENCE_LOW
                        - THERMAL_CONFIDENCE_MEDIUM
                        - THERMAL_CONFIDENCE_HIGH
                strategicRelevance:
                    type: string
                    enum:
                        - THERMAL_RELEVANCE_UNSPECIFIED
                        - THERMAL_RELEVANCE_LOW
                        - THERMAL_RELEVANCE_MEDIUM
                        - THERMAL_RELEVANCE_HIGH
                nearbyAssets:
                    type: array
                    items:
                        type: string
                narrativeFlags:
                    type: array
                    items:
                        type: string
        GeoCoordinates:
            type: object
            properties:
                latitude:
                    type: number
                    maximum: 90
                    minimum: -90
                    format: double
                    description: Latitude in decimal degrees (-90 to 90).
                longitude:
                    type: number
                    maximum: 180
                    minimum: -180
                    format: double
                    description: Longitude in decimal degrees (-180 to 180).
            description: GeoCoordinates represents a geographic location using WGS84 coordinates.
        ThermalEscalationSummary:
            type: object
            properties:
                clusterCount:
                    type: integer
                    format: int32
                elevatedCount:
                    type: integer
                    format: int32
                spikeCount:
                    type: integer
                    format: int32
                persistentCount:
                    type: integer
                    format: int32
                conflictAdjacentCount:
                    type: integer
                    format: int32
                highRelevanceCount:
                    type: integer
                    format: int32
