openapi: 3.1.0
info:
    title: UnrestService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/unrest/v1/list-unrest-events:
        get:
            tags:
                - UnrestService
            summary: ListUnrestEvents
            description: ListUnrestEvents retrieves protest, riot, and civil unrest events.
            operationId: ListUnrestEvents
            parameters:
                - name: start
                  in: query
                  description: Start of time range (inclusive), Unix epoch milliseconds.
                  required: false
                  example: "1717200000000"
                  schema:
                    type: string
                    format: int64
                - name: end
                  in: query
                  description: End of time range (inclusive), Unix epoch milliseconds.
                  required: false
                  example: "1717200000000"
                  schema:
                    type: string
                    format: int64
                - name: page_size
                  in: query
                  description: |-
                    Maximum items per page (1-100).
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: |-
                    Cursor for next page.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: "next-page-token"
                  schema:
                    type: string
                - name: country
                  in: query
                  description: Optional country filter (ISO 3166-1 alpha-2).
                  required: false
                  example: "US"
                  schema:
                    type: string
                - name: min_severity
                  in: query
                  description: |-
                    Optional minimum severity filter.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: "SEVERITY_LEVEL_LOW"
                  schema:
                    type: string
                    enum:
                        - 'SEVERITY_LEVEL_LOW'
                        - 'SEVERITY_LEVEL_MEDIUM'
                        - 'SEVERITY_LEVEL_HIGH'
                - name: ne_lat
                  in: query
                  description: |-
                    North-east corner latitude of bounding box.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: 40.7128
                  schema:
                    type: number
                    format: double
                - name: ne_lon
                  in: query
                  description: |-
                    North-east corner longitude of bounding box.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: -74.006
                  schema:
                    type: number
                    format: double
                - name: sw_lat
                  in: query
                  description: |-
                    South-west corner latitude of bounding box.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: 40.7128
                  schema:
                    type: number
                    format: double
                - name: sw_lon
                  in: query
                  description: |-
                    South-west corner longitude of bounding box.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: -74.006
                  schema:
                    type: number
                    format: double
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "clusters":
                                    - "country": "US"
                                      "endAt": 1717200000000
                                      "eventCount": 1
                                      "events":
                                          - "actors":
                                              - "example"
                                            "city": "example"
                                            "confidence": "CONFIDENCE_LEVEL_LOW"
                                            "country": "US"
                                            "eventType": "UNREST_EVENT_TYPE_PROTEST"
                                            "id": "example-id"
                                      "id": "example-id"
                                "events":
                                    - "actors":
                                        - "example"
                                      "city": "example"
                                      "confidence": "CONFIDENCE_LEVEL_LOW"
                                      "country": "US"
                                      "eventType": "UNREST_EVENT_TYPE_PROTEST"
                                      "id": "example-id"
                                "pagination":
                                    "nextCursor": "next-page-token"
                                    "totalCount": 1
                            schema:
                                $ref: '#/components/schemas/ListUnrestEventsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        JmespathProjectionError:
            description: Returned when a REST jmespath projection is invalid or exceeds the expression/output byte limits.
            properties:
                _jmespath_error:
                    description: Projection error discriminator and details.
                    type: string
                original_keys:
                    description: Top-level keys or shape of the unprojected response.
                    items:
                        type: string
                    type: array
            required:
                - _jmespath_error
                - original_keys
            type: object
        UnauthorizedError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable error message.
            required:
                - error
            description: Returned when the API key is missing, malformed, or lacks current API access.
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        BillingVerificationError:
            type: object
            description: "Returned with HTTP 503 when paid access cannot be confirmed right now: the billing provider is re-verifying a recently expired subscription, or the entitlement backend is unreachable. Retryable — honor Retry-After."
            properties:
                error:
                    type: string
                    description: Human-readable billing-verification failure reason.
                code:
                    type: string
                    enum:
                        - renewal_verification_pending
                        - renewal_verification_failed
                        - entitlement_verification_unavailable
                    description: Machine-readable billing-verification state, mirrored in the X-Billing-Verification response header.
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint, when the denial came from a tier gate.
            required:
                - error
                - code
        InvalidRequestBodyError:
            type: object
            description: Returned when a JSON POST request body is empty or malformed.
            properties:
                message:
                    type: string
                    description: Invalid request body
            required:
                - message
        GatewayError:
            type: object
            description: Returned by gateway infrastructure errors before an RPC handler runs, such as origin, routing, method, authentication, or quota checks.
            properties:
                error:
                    oneOf:
                        - type: string
                        - type: object
                          additionalProperties: true
                    description: Gateway error reason or structured gateway failure details.
            required:
                - error
        RateLimitError:
            type: object
            description: Returned when a gateway or handler rate limit rejects the request.
            properties:
                error:
                    type: string
                    description: Human-readable rate-limit failure reason.
            required:
                - error
        ForbiddenError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable entitlement failure reason.
                code:
                    type: string
                    enum:
                        - subscription_lapsed
                    description: Machine-readable denial code, present when the 403 is a billing-provider-confirmed subscription lapse (mirrored in the X-Billing-Verification response header).
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint.
                currentTier:
                    type: integer
                    format: int32
                    description: Caller entitlement tier when known.
                planKey:
                    type: string
                    description: Caller plan key when known.
            required:
                - error
            description: Returned when a PRO-gated endpoint denies access because the caller has no resolved authenticated user, entitlements cannot be verified, or the caller lacks the required entitlement tier.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        ListUnrestEventsRequest:
            type: object
            properties:
                start:
                    type: integer
                    format: int64
                    description: 'Start of time range (inclusive), Unix epoch milliseconds.. Warning: Values > 2^53 may lose precision in JavaScript'
                end:
                    type: integer
                    format: int64
                    description: 'End of time range (inclusive), Unix epoch milliseconds.. Warning: Values > 2^53 may lose precision in JavaScript'
                pageSize:
                    type: integer
                    format: int32
                    description: |-
                        Maximum items per page (1-100).
                         Accepted but currently ignored; no-op until this handler supports the parameter.
                cursor:
                    type: string
                    description: |-
                        Cursor for next page.
                         Accepted but currently ignored; no-op until this handler supports the parameter.
                country:
                    type: string
                    description: Optional country filter (ISO 3166-1 alpha-2).
                minSeverity:
                    type: string
                    enum:
                        - SEVERITY_LEVEL_UNSPECIFIED
                        - SEVERITY_LEVEL_LOW
                        - SEVERITY_LEVEL_MEDIUM
                        - SEVERITY_LEVEL_HIGH
                    description: |-
                        SeverityLevel represents a three-tier severity classification used across domains.
                         Maps to existing TS unions: 'low' | 'medium' | 'high'.
                neLat:
                    type: number
                    format: double
                    description: |-
                        North-east corner latitude of bounding box.
                         Accepted but currently ignored; no-op until this handler supports the parameter.
                neLon:
                    type: number
                    format: double
                    description: |-
                        North-east corner longitude of bounding box.
                         Accepted but currently ignored; no-op until this handler supports the parameter.
                swLat:
                    type: number
                    format: double
                    description: |-
                        South-west corner latitude of bounding box.
                         Accepted but currently ignored; no-op until this handler supports the parameter.
                swLon:
                    type: number
                    format: double
                    description: |-
                        South-west corner longitude of bounding box.
                         Accepted but currently ignored; no-op until this handler supports the parameter.
            description: ListUnrestEventsRequest specifies filters for retrieving social unrest events.
        ListUnrestEventsResponse:
            type: object
            properties:
                events:
                    type: array
                    items:
                        $ref: '#/components/schemas/UnrestEvent'
                clusters:
                    type: array
                    items:
                        $ref: '#/components/schemas/UnrestCluster'
                pagination:
                    $ref: '#/components/schemas/PaginationResponse'
            description: ListUnrestEventsResponse contains unrest events and clusters matching the request.
        UnrestEvent:
            type: object
            properties:
                id:
                    type: string
                    minLength: 1
                    description: Unique event identifier.
                title:
                    type: string
                    description: Event title or headline.
                summary:
                    type: string
                    description: Brief summary of the event.
                eventType:
                    type: string
                    enum:
                        - UNREST_EVENT_TYPE_UNSPECIFIED
                        - UNREST_EVENT_TYPE_PROTEST
                        - UNREST_EVENT_TYPE_RIOT
                        - UNREST_EVENT_TYPE_STRIKE
                        - UNREST_EVENT_TYPE_DEMONSTRATION
                        - UNREST_EVENT_TYPE_CIVIL_UNREST
                    description: |-
                        UnrestEventType represents the classification of a social unrest event.
                         Maps to existing TS union: 'protest' | 'riot' | 'strike' | 'demonstration' | 'civil_unrest'.
                city:
                    type: string
                    description: City where the event occurred.
                country:
                    type: string
                    description: Country where the event occurred.
                region:
                    type: string
                    description: Administrative region within the country.
                location:
                    $ref: '#/components/schemas/GeoCoordinates'
                occurredAt:
                    type: integer
                    format: int64
                    description: 'Time the event occurred, as Unix epoch milliseconds.. Warning: Values > 2^53 may lose precision in JavaScript'
                severity:
                    type: string
                    enum:
                        - SEVERITY_LEVEL_UNSPECIFIED
                        - SEVERITY_LEVEL_LOW
                        - SEVERITY_LEVEL_MEDIUM
                        - SEVERITY_LEVEL_HIGH
                    description: |-
                        SeverityLevel represents a three-tier severity classification used across domains.
                         Maps to existing TS unions: 'low' | 'medium' | 'high'.
                fatalities:
                    type: integer
                    format: int32
                    description: Reported fatalities, if any.
                sources:
                    type: array
                    items:
                        type: string
                        description: Source identifiers.
                sourceType:
                    type: string
                    enum:
                        - UNREST_SOURCE_TYPE_UNSPECIFIED
                        - UNREST_SOURCE_TYPE_ACLED
                        - UNREST_SOURCE_TYPE_GDELT
                        - UNREST_SOURCE_TYPE_RSS
                    description: |-
                        UnrestSourceType represents the data source for an unrest event.
                         Maps to existing TS union: 'acled' | 'gdelt' | 'rss'.
                tags:
                    type: array
                    items:
                        type: string
                        description: Descriptive tags.
                actors:
                    type: array
                    items:
                        type: string
                        description: Named actors involved.
                confidence:
                    type: string
                    enum:
                        - CONFIDENCE_LEVEL_UNSPECIFIED
                        - CONFIDENCE_LEVEL_LOW
                        - CONFIDENCE_LEVEL_MEDIUM
                        - CONFIDENCE_LEVEL_HIGH
                    description: |-
                        ConfidenceLevel represents the confidence in event data accuracy.
                         Used across multiple domains.
                sourceUrls:
                    type: array
                    items:
                        type: string
                        description: Source article URLs, when provided by the upstream feed.
            required:
                - id
            description: |-
                UnrestEvent represents a social unrest incident (protest, riot, strike, etc.).
                 Aggregated from ACLED and GDELT sources.
        GeoCoordinates:
            type: object
            properties:
                latitude:
                    type: number
                    maximum: 90
                    minimum: -90
                    format: double
                    description: Latitude in decimal degrees (-90 to 90).
                longitude:
                    type: number
                    maximum: 180
                    minimum: -180
                    format: double
                    description: Longitude in decimal degrees (-180 to 180).
            description: GeoCoordinates represents a geographic location using WGS84 coordinates.
        UnrestCluster:
            type: object
            properties:
                id:
                    type: string
                    description: Unique cluster identifier.
                country:
                    type: string
                    description: Country of the cluster.
                region:
                    type: string
                    description: Region within the country.
                eventCount:
                    type: integer
                    format: int32
                    description: Number of events in this cluster.
                events:
                    type: array
                    items:
                        $ref: '#/components/schemas/UnrestEvent'
                severity:
                    type: string
                    enum:
                        - SEVERITY_LEVEL_UNSPECIFIED
                        - SEVERITY_LEVEL_LOW
                        - SEVERITY_LEVEL_MEDIUM
                        - SEVERITY_LEVEL_HIGH
                    description: |-
                        SeverityLevel represents a three-tier severity classification used across domains.
                         Maps to existing TS unions: 'low' | 'medium' | 'high'.
                startAt:
                    type: integer
                    format: int64
                    description: 'Start of the cluster time window, as Unix epoch milliseconds.. Warning: Values > 2^53 may lose precision in JavaScript'
                endAt:
                    type: integer
                    format: int64
                    description: 'End of the cluster time window, as Unix epoch milliseconds.. Warning: Values > 2^53 may lose precision in JavaScript'
                primaryCause:
                    type: string
                    description: Primary cause or theme of the unrest.
            description: UnrestCluster represents a geographic cluster of related unrest events.
        PaginationResponse:
            type: object
            properties:
                nextCursor:
                    type: string
                    description: Cursor for fetching the next page. Empty string indicates no more pages.
                totalCount:
                    type: integer
                    format: int32
                    description: Total count of items matching the query, if known. Zero if the total is unknown.
            description: PaginationResponse contains pagination metadata returned alongside list results.
