openapi: 3.1.0
info:
    title: WorldMonitor API
    description: Unified OpenAPI bundle spanning all WorldMonitor services.
    contact:
        name: WorldMonitor
        email: support@worldmonitor.app
    version: 1.0.0
servers:
    - url: https://api.worldmonitor.app
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
paths:
    /api/aviation/v1/list-airport-delays:
        get:
            tags:
                - AviationService
            summary: ListAirportDelays
            description: ListAirportDelays retrieves current airport delay alerts.
            operationId: ListAirportDelays
            parameters:
                - name: page_size
                  in: query
                  description: |-
                    Maximum items per page (1-100).
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: |-
                    Cursor for next page.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: "next-page-token"
                  schema:
                    type: string
                - name: region
                  in: query
                  description: |-
                    Optional region filter.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: "AIRPORT_REGION_AMERICAS"
                  schema:
                    type: string
                    enum:
                        - 'AIRPORT_REGION_AMERICAS'
                        - 'AIRPORT_REGION_EUROPE'
                        - 'AIRPORT_REGION_APAC'
                        - 'AIRPORT_REGION_MENA'
                        - 'AIRPORT_REGION_AFRICA'
                - name: min_severity
                  in: query
                  description: |-
                    Optional minimum severity filter.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: "FLIGHT_DELAY_SEVERITY_NORMAL"
                  schema:
                    type: string
                    enum:
                        - 'FLIGHT_DELAY_SEVERITY_NORMAL'
                        - 'FLIGHT_DELAY_SEVERITY_MINOR'
                        - 'FLIGHT_DELAY_SEVERITY_MODERATE'
                        - 'FLIGHT_DELAY_SEVERITY_MAJOR'
                        - 'FLIGHT_DELAY_SEVERITY_SEVERE'
                        - 'FLIGHT_DELAY_SEVERITY_UNKNOWN'
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "alerts":
                                    - "avgDelayMinutes": 1
                                      "cancelledFlights": 1
                                      "city": "example"
                                      "country": "US"
                                      "delayType": "FLIGHT_DELAY_TYPE_GROUND_STOP"
                                      "id": "example-id"
                                "pagination":
                                    "nextCursor": "next-page-token"
                                    "totalCount": 1
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_ListAirportDelaysResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/aviation/v1/get-airport-ops-summary:
        get:
            tags:
                - AviationService
            summary: GetAirportOpsSummary
            description: GetAirportOpsSummary returns operational health metrics for watched airports.
            operationId: GetAirportOpsSummary
            parameters:
                - name: airports
                  in: query
                  description: IATA airport codes to query (e.g., ["IST", "ESB", "LHR"]).
                  required: false
                  style: form
                  explode: true
                  example:
                      - "JFK"
                  schema:
                    type: array
                    items:
                        type: string
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "cacheHit": true
                                "summaries":
                                    - "avgDelayMinutes": 1
                                      "cancellationRate": 75.25
                                      "closureStatus": true
                                      "delayPct": 1.5
                                      "iata": "JFK"
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_GetAirportOpsSummaryResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/aviation/v1/list-airport-flights:
        get:
            tags:
                - AviationService
            summary: ListAirportFlights
            description: ListAirportFlights retrieves recent flights at a specific airport.
            operationId: ListAirportFlights
            parameters:
                - name: airport
                  in: query
                  description: IATA airport code (e.g., "IST").
                  required: true
                  example: "JFK"
                  schema:
                    type: string
                - name: direction
                  in: query
                  description: Direction filter.
                  required: false
                  example: "FLIGHT_DIRECTION_DEPARTURE"
                  schema:
                    type: string
                    enum:
                        - 'FLIGHT_DIRECTION_DEPARTURE'
                        - 'FLIGHT_DIRECTION_ARRIVAL'
                        - 'FLIGHT_DIRECTION_BOTH'
                - name: limit
                  in: query
                  description: Maximum number of flights to return (1-100).
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "flights":
                                    - "actualArrival": 1
                                      "actualDeparture": 1
                                      "aircraftIcao24": "a835af"
                                      "aircraftType": "all"
                                      "cancelled": true
                                "source": "example"
                                "totalAvailable": 1
                                "updatedAt": 1717200000000
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_ListAirportFlightsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/aviation/v1/get-carrier-ops:
        get:
            tags:
                - AviationService
            summary: GetCarrierOps
            description: GetCarrierOps returns delay and cancellation metrics grouped by carrier.
            operationId: GetCarrierOps
            parameters:
                - name: airports
                  in: query
                  description: IATA airport codes to aggregate carrier metrics from.
                  required: false
                  style: form
                  explode: true
                  example:
                      - "JFK"
                  schema:
                    type: array
                    items:
                        type: string
                - name: min_flights
                  in: query
                  description: 'Minimum number of flights required to include a carrier (default: 1).'
                  required: false
                  example: 1
                  schema:
                    type: integer
                    format: int32
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "carriers":
                                    - "airport": "JFK"
                                      "avgDelayMinutes": 1
                                      "cancellationRate": 75.25
                                      "cancelledCount": 1
                                      "carrier":
                                          "iataCode": "JFK"
                                          "icaoCode": "example"
                                          "name": "WorldMonitor Analyst"
                                "source": "example"
                                "updatedAt": 1717200000000
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_GetCarrierOpsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/aviation/v1/get-flight-status:
        get:
            tags:
                - AviationService
            summary: GetFlightStatus
            description: GetFlightStatus looks up the current status of a specific flight.
            operationId: GetFlightStatus
            parameters:
                - name: flight_number
                  in: query
                  description: IATA flight number (e.g., "TK1952").
                  required: true
                  example: "JFK"
                  schema:
                    type: string
                - name: date
                  in: query
                  description: Departure date in ISO 8601 format (e.g., "2026-03-05").
                  required: true
                  example: "2026-01-15"
                  schema:
                    type: string
                - name: origin
                  in: query
                  description: Optional origin airport IATA code to disambiguate.
                  required: false
                  example: "JFK"
                  schema:
                    type: string
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "cacheHit": true
                                "flights":
                                    - "actualArrival": 1
                                      "actualDeparture": 1
                                      "aircraftIcao24": "a835af"
                                      "aircraftType": "all"
                                      "cancelled": true
                                "source": "example"
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_GetFlightStatusResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/aviation/v1/track-aircraft:
        get:
            tags:
                - AviationService
            summary: TrackAircraft
            description: TrackAircraft retrieves live position stream for a specific aircraft hex.
            operationId: TrackAircraft
            parameters:
                - name: icao24
                  in: query
                  description: ICAO 24-bit transponder address (hex, e.g., "4b1805").
                  required: false
                  example: "a835af"
                  schema:
                    type: string
                - name: callsign
                  in: query
                  description: ATC callsign (e.g., "THY7CX").
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: sw_lat
                  in: query
                  description: Optional bounding box south-west latitude.
                  required: false
                  example: 40.7128
                  schema:
                    type: number
                    format: double
                - name: sw_lon
                  in: query
                  description: Optional bounding box south-west longitude.
                  required: false
                  example: -74.006
                  schema:
                    type: number
                    format: double
                - name: ne_lat
                  in: query
                  description: Optional bounding box north-east latitude.
                  required: false
                  example: 40.7128
                  schema:
                    type: number
                    format: double
                - name: ne_lon
                  in: query
                  description: Optional bounding box north-east longitude.
                  required: false
                  example: -74.006
                  schema:
                    type: number
                    format: double
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "positions":
                                    - "altitudeM": 1.5
                                      "callsign": "example"
                                      "groundSpeedKts": 1.5
                                      "icao24": "a835af"
                                      "lat": 40.7128
                                "source": "example"
                                "updatedAt": 1717200000000
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_TrackAircraftResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/aviation/v1/get-youtube-live-stream-info:
        get:
            tags:
                - AviationService
            summary: GetYoutubeLiveStreamInfo
            description: GetYoutubeLiveStreamInfo retrieves information about a YouTube live stream (status, title, etc).
            operationId: GetYoutubeLiveStreamInfo
            parameters:
                - name: channel
                  in: query
                  description: YouTube channel handle or ID.
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: video_id
                  in: query
                  description: Specific video ID to check.
                  required: false
                  example: "example-id"
                  schema:
                    type: string
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "channelExists": true
                                "channelName": "WorldMonitor Analyst"
                                "error": "example"
                                "hlsUrl": "https://example.com/worldmonitor"
                                "isLive": true
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_GetYoutubeLiveStreamInfoResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/aviation/v1/search-flight-prices:
        get:
            tags:
                - AviationService
            summary: SearchFlightPrices
            description: SearchFlightPrices searches for flight price offers on a route.
            operationId: SearchFlightPrices
            parameters:
                - name: origin
                  in: query
                  description: Origin airport IATA code.
                  required: true
                  example: "JFK"
                  schema:
                    type: string
                - name: destination
                  in: query
                  description: Destination airport IATA code.
                  required: true
                  example: "LHR"
                  schema:
                    type: string
                - name: departure_date
                  in: query
                  description: Outbound departure date (ISO 8601).
                  required: true
                  example: "2026-01-15"
                  schema:
                    type: string
                - name: return_date
                  in: query
                  description: Return date (ISO 8601), empty for one-way.
                  required: false
                  example: "2026-01-15"
                  schema:
                    type: string
                - name: adults
                  in: query
                  description: Number of adult passengers (1-9).
                  required: false
                  example: 1
                  schema:
                    type: integer
                    format: int32
                - name: cabin
                  in: query
                  description: Desired cabin class.
                  required: false
                  example: "CABIN_CLASS_ECONOMY"
                  schema:
                    type: string
                    enum:
                        - 'CABIN_CLASS_ECONOMY'
                        - 'CABIN_CLASS_PREMIUM_ECONOMY'
                        - 'CABIN_CLASS_BUSINESS'
                        - 'CABIN_CLASS_FIRST'
                - name: nonstop_only
                  in: query
                  description: Whether to restrict to nonstop flights only.
                  required: false
                  example: true
                  schema:
                    type: boolean
                - name: max_results
                  in: query
                  description: Maximum number of quotes to return (1-50).
                  required: false
                  example: 1
                  schema:
                    type: integer
                    format: int32
                - name: currency
                  in: query
                  description: ISO 4217 currency code for prices (e.g., "usd", "eur", "try").
                  required: false
                  example: "USD"
                  schema:
                    type: string
                - name: market
                  in: query
                  description: Market/locale code (e.g., "us", "tr").
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "degraded": true
                                "error": "example"
                                "isDemoMode": true
                                "isIndicative": true
                                "provider": "worldmonitor"
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_SearchFlightPricesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/aviation/v1/list-aviation-news:
        get:
            tags:
                - AviationService
            summary: ListAviationNews
            description: ListAviationNews retrieves filtered aviation news articles.
            operationId: ListAviationNews
            parameters:
                - name: entities
                  in: query
                  description: Entities to filter by (airline names, airport codes, route strings).
                  required: false
                  style: form
                  explode: true
                  example:
                      - "example"
                  schema:
                    type: array
                    items:
                        type: string
                - name: window_hours
                  in: query
                  description: Time window in hours to look back (1-168).
                  required: false
                  example: 1
                  schema:
                    type: integer
                    format: int32
                - name: max_items
                  in: query
                  description: Maximum number of news items to return (1-50).
                  required: false
                  example: 1
                  schema:
                    type: integer
                    format: int32
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "items":
                                    - "id": "example-id"
                                      "imageUrl": "https://example.com/worldmonitor"
                                      "matchedEntities":
                                          - "example"
                                      "publishedAt": 1717200000000
                                      "snippet": "example"
                                "source": "example"
                                "updatedAt": 1717200000000
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_ListAviationNewsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/aviation/v1/search-google-flights:
        get:
            tags:
                - AviationService
            summary: SearchGoogleFlights
            description: SearchGoogleFlights searches Google Flights for available itineraries on a specific date.
            operationId: SearchGoogleFlights
            parameters:
                - name: origin
                  in: query
                  description: Departure airport IATA code (e.g. "JFK").
                  required: false
                  example: "JFK"
                  schema:
                    type: string
                - name: destination
                  in: query
                  description: Arrival airport IATA code (e.g. "LHR").
                  required: false
                  example: "LHR"
                  schema:
                    type: string
                - name: departure_date
                  in: query
                  description: Departure date in YYYY-MM-DD format.
                  required: false
                  example: "2026-01-15"
                  schema:
                    type: string
                - name: return_date
                  in: query
                  description: Return date in YYYY-MM-DD format; omit for one-way.
                  required: false
                  example: "2026-01-15"
                  schema:
                    type: string
                - name: cabin_class
                  in: query
                  description: 'Cabin class: ECONOMY, PREMIUM_ECONOMY, BUSINESS, or FIRST.'
                  required: false
                  example: "ECONOMY"
                  schema:
                    type: string
                - name: max_stops
                  in: query
                  description: 'Stop filter: ANY, NON_STOP, ONE_STOP, or TWO_PLUS_STOPS.'
                  required: false
                  example: "ANY"
                  schema:
                    type: string
                - name: departure_window
                  in: query
                  description: Departure time window in HH-HH format (e.g. "6-20").
                  required: false
                  example: "6-20"
                  schema:
                    type: string
                - name: airlines
                  in: query
                  description: Airline IATA codes to filter by (e.g. ["BA", "AA"]).
                  required: false
                  style: form
                  explode: true
                  example:
                      - "BA"
                  schema:
                    type: array
                    items:
                        type: string
                - name: sort_by
                  in: query
                  description: 'Sort order: CHEAPEST, DURATION, DEPARTURE_TIME, or ARRIVAL_TIME.'
                  required: false
                  example: "CHEAPEST"
                  schema:
                    type: string
                - name: passengers
                  in: query
                  description: Number of adult passengers (1-9).
                  required: false
                  example: 1
                  schema:
                    type: integer
                    format: int32
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "degraded": true
                                "error": "example"
                                "flights":
                                    - "durationMinutes": 42
                                      "legs":
                                          - "airlineCode": "example"
                                            "arrivalAirport": "example"
                                            "arrivalDatetime": "2026-01-15"
                                            "departureAirport": "example"
                                            "departureDatetime": "2026-01-15"
                                      "price": 75.25
                                      "stops": 1
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_SearchGoogleFlightsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/aviation/v1/search-google-dates:
        get:
            tags:
                - AviationService
            summary: SearchGoogleDates
            description: SearchGoogleDates finds the cheapest travel dates across a flexible date range via Google Flights.
            operationId: SearchGoogleDates
            parameters:
                - name: origin
                  in: query
                  description: Departure airport IATA code (e.g. "JFK").
                  required: false
                  example: "JFK"
                  schema:
                    type: string
                - name: destination
                  in: query
                  description: Arrival airport IATA code (e.g. "LHR").
                  required: false
                  example: "LHR"
                  schema:
                    type: string
                - name: start_date
                  in: query
                  description: Start of date range in YYYY-MM-DD format.
                  required: false
                  example: "2026-01-15"
                  schema:
                    type: string
                - name: end_date
                  in: query
                  description: End of date range in YYYY-MM-DD format.
                  required: false
                  example: "2026-01-15"
                  schema:
                    type: string
                - name: trip_duration
                  in: query
                  description: Trip duration in days (required for round-trip searches).
                  required: false
                  example: 42
                  schema:
                    type: integer
                    format: int32
                - name: is_round_trip
                  in: query
                  description: Whether to search for round-trip flights.
                  required: false
                  example: true
                  schema:
                    type: boolean
                - name: cabin_class
                  in: query
                  description: 'Cabin class: ECONOMY, PREMIUM_ECONOMY, BUSINESS, or FIRST.'
                  required: false
                  example: "ECONOMY"
                  schema:
                    type: string
                - name: max_stops
                  in: query
                  description: 'Stop filter: ANY, NON_STOP, ONE_STOP, or TWO_PLUS_STOPS.'
                  required: false
                  example: "ANY"
                  schema:
                    type: string
                - name: departure_window
                  in: query
                  description: Departure time window in HH-HH format (e.g. "6-20").
                  required: false
                  example: "6-20"
                  schema:
                    type: string
                - name: airlines
                  in: query
                  description: Airline IATA codes to filter by (e.g. ["BA", "AA"]).
                  required: false
                  style: form
                  explode: true
                  example:
                      - "BA"
                  schema:
                    type: array
                    items:
                        type: string
                - name: sort_by_price
                  in: query
                  description: Whether to sort results by price (lowest first).
                  required: false
                  example: true
                  schema:
                    type: boolean
                - name: passengers
                  in: query
                  description: Number of adult passengers (1-9).
                  required: false
                  example: 1
                  schema:
                    type: integer
                    format: int32
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "dates":
                                    - "date": "2026-01-15"
                                      "price": 75.25
                                      "returnDate": "2026-01-15"
                                "degraded": true
                                "error": "example"
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_SearchGoogleDatesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/batch/v1/execute:
        post:
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Optional client-generated idempotency key. Retrying a POST with the same key and an identical request body replays the original response (only the status, body, and Content-Type are reproduced) instead of re-executing; reusing the key with a different body is rejected with 422. For mutations this avoids duplicating the side effect, while for batch-read POSTs it replays a cached snapshot that can be up to 24 hours stale. Keys are scoped per authenticated caller (falling back to the source IP for unauthenticated endpoints) and retained for 24 hours.
                  required: false
                  example: "4f8b9c2e-1a3d-4b6f-8e0a-2c5d7f9b1e34"
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
                    pattern: "^[\\x21-\\x7E]{1,255}$"
            tags:
                - BatchService
            summary: ExecuteBatch
            description: ExecuteBatch runs a bulk batch of up to 20 read (GET) operations concurrently in one round trip and returns per-operation statuses and bodies. Use it instead of looping single calls when acting on many items; add a per-operation ?jmespath= projection to keep each body small.
            operationId: ExecuteBatch
            requestBody:
                content:
                    application/json:
                        example:
                            "operations":
                                - "id": "example-id"
                                  "path": "/api/market/v1/get-fear-greed-index"
                        schema:
                            $ref: '#/components/schemas/worldmonitor_batch_v1_ExecuteBatchRequest'
                required: true
            responses:
                "200":
                    description: Successful response
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key echoed from the request. Present only when the client opted into idempotency.
                        Idempotent-Replayed:
                            schema:
                                type: boolean
                            description: true when this response was replayed from an earlier request with the same key, false on the first (original) request. Present only when the client opted into idempotency.
                    content:
                        application/json:
                            example:
                                "failed": 1
                                "results":
                                    - "body":
                                        {}
                                      "error": "example"
                                      "id": "example-id"
                                      "status": 1
                                "succeeded": 1
                            schema:
                                $ref: '#/components/schemas/worldmonitor_batch_v1_ExecuteBatchResponse'
                "400":
                    description: Validation error, invalid Idempotency-Key header, or malformed JSON request body
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - type: object
                                      required:
                                        - error
                                        - message
                                      properties:
                                        error:
                                            type: string
                                        message:
                                            type: string
                                    - $ref: '#/components/schemas/InvalidRequestBodyError'
                "409":
                    description: A request with this Idempotency-Key is still being processed
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key supplied by the client.
                        Retry-After:
                            schema:
                                type: string
                            description: Seconds to wait before retrying the in-flight request.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - error
                                    - message
                                properties:
                                    error:
                                        type: string
                                    message:
                                        type: string
                "422":
                    description: The Idempotency-Key was already used with a different request body
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key supplied by the client.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - error
                                    - message
                                properties:
                                    error:
                                        type: string
                                    message:
                                        type: string
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/climate/v1/list-climate-anomalies:
        get:
            tags:
                - ClimateService
            summary: ListClimateAnomalies
            description: ListClimateAnomalies retrieves temperature and precipitation anomalies from ERA5 data.
            operationId: ListClimateAnomalies
            parameters:
                - name: page_size
                  in: query
                  description: |-
                    Maximum items per page (1-100).
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: |-
                    Cursor for next page.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: "next-page-token"
                  schema:
                    type: string
                - name: min_severity
                  in: query
                  description: |-
                    Optional filter by anomaly severity.
                     Accepted but currently ignored; no-op until this handler supports the parameter.
                  required: false
                  example: "ANOMALY_SEVERITY_NORMAL"
                  schema:
                    type: string
                    enum:
                        - 'ANOMALY_SEVERITY_NORMAL'
                        - 'ANOMALY_SEVERITY_MODERATE'
                        - 'ANOMALY_SEVERITY_EXTREME'
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "anomalies":
                                    - "location":
                                        "latitude": 40.7128
                                        "longitude": -74.006
                                      "period": "daily"
                                      "precipDelta": 1.5
                                      "severity": "ANOMALY_SEVERITY_NORMAL"
                                      "tempDelta": 1.5
                                      "type": "ANOMALY_TYPE_WARM"
                                      "zone": "example"
                                "pagination":
                                    "nextCursor": "next-page-token"
                                    "totalCount": 1
                            schema:
                                $ref: '#/components/schemas/worldmonitor_climate_v1_ListClimateAnomaliesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/climate/v1/list-climate-disasters:
        get:
            tags:
                - ClimateService
            summary: ListClimateDisasters
            description: ListClimateDisasters retrieves climate-relevant disaster events from seeded data.
            operationId: ListClimateDisasters
            parameters:
                - name: page_size
                  in: query
                  description: Maximum items per page (1-100).
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: Cursor for next page.
                  required: false
                  example: "next-page-token"
                  schema:
                    type: string
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "disasters":
                                    - "affectedPopulation": 1
                                      "country": "US"
                                      "countryCode": "US"
                                      "id": "example-id"
                                      "lat": 40.7128
                                "pagination":
                                    "nextCursor": "next-page-token"
                                    "totalCount": 1
                            schema:
                                $ref: '#/components/schemas/worldmonitor_climate_v1_ListClimateDisastersResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/climate/v1/get-co2-monitoring:
        get:
            tags:
                - ClimateService
            summary: GetCo2Monitoring
            description: GetCo2Monitoring retrieves seeded NOAA greenhouse gas monitoring data.
            operationId: GetCo2Monitoring
            parameters:
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "monitoring":
                                    "annualGrowthRate": 75.25
                                    "currentPpm": 1.5
                                    "measuredAt": "1717200000000"
                                    "methanePpb": 1.5
                                    "monthlyAverage": 1.5
                            schema:
                                $ref: '#/components/schemas/worldmonitor_climate_v1_GetCo2MonitoringResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/climate/v1/get-ocean-ice-data:
        get:
            tags:
                - ClimateService
            summary: GetOceanIceData
            description: GetOceanIceData retrieves seeded Arctic sea ice, sea level, and ocean heat indicators.
            operationId: GetOceanIceData
            parameters:
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "data":
                                    "arcticExtentAnomalyMkm2": 1.5
                                    "arcticExtentMkm2": 1.5
                                    "arcticTrend": "example"
                                    "iceTrend12m":
                                        - "anomalyMkm2": 1.5
                                          "extentMkm2": 1.5
                                          "month": "example"
                                    "measuredAt": 1717200000000
                            schema:
                                $ref: '#/components/schemas/worldmonitor_climate_v1_GetOceanIceDataResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/climate/v1/list-air-quality-data:
        get:
            tags:
                - ClimateService
            summary: ListAirQualityData
            description: ListAirQualityData retrieves recent PM2.5 station data from the shared air-quality seed.
            operationId: ListAirQualityData
            parameters:
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "fetchedAt": 1717200000000
                                "stations":
                                    - "aqi": 1
                                      "city": "example"
                                      "countryCode": "US"
                                      "lat": 40.7128
                                      "lng": -74.006
                            schema:
                                $ref: '#/components/schemas/worldmonitor_climate_v1_ListAirQualityDataResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/climate/v1/list-climate-news:
        get:
            tags:
                - ClimateService
            summary: ListClimateNews
            description: |-
[...]
