openapi: 3.1.0
info:
    title: WorldMonitor API
    description: Unified OpenAPI bundle spanning all WorldMonitor services.
    contact:
        name: WorldMonitor
        email: support@worldmonitor.app
    version: 1.0.0
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/aviation/v1/list-airport-delays:
        get:
            tags:
                - AviationService
            summary: ListAirportDelays
            description: ListAirportDelays retrieves current airport delay alerts.
            operationId: ListAirportDelays
            parameters:
                - name: page_size
                  in: query
                  description: Maximum items per page (1-100).
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: Cursor for next page.
                  required: false
                  schema:
                    type: string
                - name: region
                  in: query
                  description: Optional region filter.
                  required: false
                  schema:
                    type: string
                - name: min_severity
                  in: query
                  description: Optional minimum severity filter.
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_ListAirportDelaysResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/aviation/v1/get-airport-ops-summary:
        get:
            tags:
                - AviationService
            summary: GetAirportOpsSummary
            description: GetAirportOpsSummary returns operational health metrics for watched airports.
            operationId: GetAirportOpsSummary
            parameters:
                - name: airports
                  in: query
                  description: IATA airport codes to query (e.g., ["IST", "ESB", "LHR"]).
                  required: false
                  style: form
                  explode: true
                  schema:
                    type: array
                    items:
                        type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_GetAirportOpsSummaryResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/aviation/v1/list-airport-flights:
        get:
            tags:
                - AviationService
            summary: ListAirportFlights
            description: ListAirportFlights retrieves recent flights at a specific airport.
            operationId: ListAirportFlights
            parameters:
                - name: airport
                  in: query
                  description: IATA airport code (e.g., "IST").
                  required: false
                  schema:
                    type: string
                - name: direction
                  in: query
                  description: Direction filter.
                  required: false
                  schema:
                    type: string
                - name: limit
                  in: query
                  description: Maximum number of flights to return (1-100).
                  required: false
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_ListAirportFlightsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/aviation/v1/get-carrier-ops:
        get:
            tags:
                - AviationService
            summary: GetCarrierOps
            description: GetCarrierOps returns delay and cancellation metrics grouped by carrier.
            operationId: GetCarrierOps
            parameters:
                - name: airports
                  in: query
                  description: IATA airport codes to aggregate carrier metrics from.
                  required: false
                  style: form
                  explode: true
                  schema:
                    type: array
                    items:
                        type: string
                - name: min_flights
                  in: query
                  description: 'Minimum number of flights required to include a carrier (default: 1).'
                  required: false
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_GetCarrierOpsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/aviation/v1/get-flight-status:
        get:
            tags:
                - AviationService
            summary: GetFlightStatus
            description: GetFlightStatus looks up the current status of a specific flight.
            operationId: GetFlightStatus
            parameters:
                - name: flight_number
                  in: query
                  description: IATA flight number (e.g., "TK1952").
                  required: false
                  schema:
                    type: string
                - name: date
                  in: query
                  description: Departure date in ISO 8601 format (e.g., "2026-03-05").
                  required: false
                  schema:
                    type: string
                - name: origin
                  in: query
                  description: Optional origin airport IATA code to disambiguate.
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_GetFlightStatusResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/aviation/v1/track-aircraft:
        get:
            tags:
                - AviationService
            summary: TrackAircraft
            description: TrackAircraft retrieves live position stream for a specific aircraft hex.
            operationId: TrackAircraft
            parameters:
                - name: icao24
                  in: query
                  description: ICAO 24-bit transponder address (hex, e.g., "4b1805").
                  required: false
                  schema:
                    type: string
                - name: callsign
                  in: query
                  description: ATC callsign (e.g., "THY7CX").
                  required: false
                  schema:
                    type: string
                - name: sw_lat
                  in: query
                  description: Optional bounding box south-west latitude.
                  required: false
                  schema:
                    type: number
                    format: double
                - name: sw_lon
                  in: query
                  description: Optional bounding box south-west longitude.
                  required: false
                  schema:
                    type: number
                    format: double
                - name: ne_lat
                  in: query
                  description: Optional bounding box north-east latitude.
                  required: false
                  schema:
                    type: number
                    format: double
                - name: ne_lon
                  in: query
                  description: Optional bounding box north-east longitude.
                  required: false
                  schema:
                    type: number
                    format: double
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_TrackAircraftResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/aviation/v1/get-youtube-live-stream-info:
        get:
            tags:
                - AviationService
            summary: GetYoutubeLiveStreamInfo
            description: GetYoutubeLiveStreamInfo retrieves information about a YouTube live stream (status, title, etc).
            operationId: GetYoutubeLiveStreamInfo
            parameters:
                - name: channel
                  in: query
                  description: YouTube channel handle or ID.
                  required: false
                  schema:
                    type: string
                - name: video_id
                  in: query
                  description: Specific video ID to check.
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_GetYoutubeLiveStreamInfoResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/aviation/v1/search-flight-prices:
        get:
            tags:
                - AviationService
            summary: SearchFlightPrices
            description: SearchFlightPrices searches for flight price offers on a route.
            operationId: SearchFlightPrices
            parameters:
                - name: origin
                  in: query
                  description: Origin airport IATA code.
                  required: false
                  schema:
                    type: string
                - name: destination
                  in: query
                  description: Destination airport IATA code.
                  required: false
                  schema:
                    type: string
                - name: departure_date
                  in: query
                  description: Outbound departure date (ISO 8601).
                  required: false
                  schema:
                    type: string
                - name: return_date
                  in: query
                  description: Return date (ISO 8601), empty for one-way.
                  required: false
                  schema:
                    type: string
                - name: adults
                  in: query
                  description: Number of adult passengers (1-9).
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: cabin
                  in: query
                  description: Desired cabin class.
                  required: false
                  schema:
                    type: string
                - name: nonstop_only
                  in: query
                  description: Whether to restrict to nonstop flights only.
                  required: false
                  schema:
                    type: boolean
                - name: max_results
                  in: query
                  description: Maximum number of quotes to return (1-50).
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: currency
                  in: query
                  description: ISO 4217 currency code for prices (e.g., "usd", "eur", "try").
                  required: false
                  schema:
                    type: string
                - name: market
                  in: query
                  description: Market/locale code (e.g., "us", "tr").
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_SearchFlightPricesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/aviation/v1/list-aviation-news:
        get:
            tags:
                - AviationService
            summary: ListAviationNews
            description: ListAviationNews retrieves filtered aviation news articles.
            operationId: ListAviationNews
            parameters:
                - name: entities
                  in: query
                  description: Entities to filter by (airline names, airport codes, route strings).
                  required: false
                  style: form
                  explode: true
                  schema:
                    type: array
                    items:
                        type: string
                - name: window_hours
                  in: query
                  description: Time window in hours to look back (1-168).
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: max_items
                  in: query
                  description: Maximum number of news items to return (1-50).
                  required: false
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_ListAviationNewsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/aviation/v1/search-google-flights:
        get:
            tags:
                - AviationService
            summary: SearchGoogleFlights
            description: SearchGoogleFlights searches Google Flights for available itineraries on a specific date.
            operationId: SearchGoogleFlights
            parameters:
                - name: origin
                  in: query
                  description: Departure airport IATA code (e.g. "JFK").
                  required: false
                  schema:
                    type: string
                - name: destination
                  in: query
                  description: Arrival airport IATA code (e.g. "LHR").
                  required: false
                  schema:
                    type: string
                - name: departure_date
                  in: query
                  description: Departure date in YYYY-MM-DD format.
                  required: false
                  schema:
                    type: string
                - name: return_date
                  in: query
                  description: Return date in YYYY-MM-DD format; omit for one-way.
                  required: false
                  schema:
                    type: string
                - name: cabin_class
                  in: query
                  description: 'Cabin class: ECONOMY, PREMIUM_ECONOMY, BUSINESS, or FIRST.'
                  required: false
                  schema:
                    type: string
                - name: max_stops
                  in: query
                  description: 'Stop filter: ANY, NON_STOP, ONE_STOP, or TWO_PLUS_STOPS.'
                  required: false
                  schema:
                    type: string
                - name: departure_window
                  in: query
                  description: Departure time window in HH-HH format (e.g. "6-20").
                  required: false
                  schema:
                    type: string
                - name: airlines
                  in: query
                  description: Airline IATA codes to filter by (e.g. ["BA", "AA"]).
                  required: false
                  style: form
                  explode: true
                  schema:
                    type: array
                    items:
                        type: string
                - name: sort_by
                  in: query
                  description: 'Sort order: CHEAPEST, DURATION, DEPARTURE_TIME, or ARRIVAL_TIME.'
                  required: false
                  schema:
                    type: string
                - name: passengers
                  in: query
                  description: Number of adult passengers (1-9).
                  required: false
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_SearchGoogleFlightsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/aviation/v1/search-google-dates:
        get:
            tags:
                - AviationService
            summary: SearchGoogleDates
            description: SearchGoogleDates finds the cheapest travel dates across a flexible date range via Google Flights.
            operationId: SearchGoogleDates
            parameters:
                - name: origin
                  in: query
                  description: Departure airport IATA code (e.g. "JFK").
                  required: false
                  schema:
                    type: string
                - name: destination
                  in: query
                  description: Arrival airport IATA code (e.g. "LHR").
                  required: false
                  schema:
                    type: string
                - name: start_date
                  in: query
                  description: Start of date range in YYYY-MM-DD format.
                  required: false
                  schema:
                    type: string
                - name: end_date
                  in: query
                  description: End of date range in YYYY-MM-DD format.
                  required: false
                  schema:
                    type: string
                - name: trip_duration
                  in: query
                  description: Trip duration in days (required for round-trip searches).
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: is_round_trip
                  in: query
                  description: Whether to search for round-trip flights.
                  required: false
                  schema:
                    type: boolean
                - name: cabin_class
                  in: query
                  description: 'Cabin class: ECONOMY, PREMIUM_ECONOMY, BUSINESS, or FIRST.'
                  required: false
                  schema:
                    type: string
                - name: max_stops
                  in: query
                  description: 'Stop filter: ANY, NON_STOP, ONE_STOP, or TWO_PLUS_STOPS.'
                  required: false
                  schema:
                    type: string
                - name: departure_window
                  in: query
                  description: Departure time window in HH-HH format (e.g. "6-20").
                  required: false
                  schema:
                    type: string
                - name: airlines
                  in: query
                  description: Airline IATA codes to filter by (e.g. ["BA", "AA"]).
                  required: false
                  style: form
                  explode: true
                  schema:
                    type: array
                    items:
                        type: string
                - name: sort_by_price
                  in: query
                  description: Whether to sort results by price (lowest first).
                  required: false
                  schema:
                    type: boolean
                - name: passengers
                  in: query
                  description: Number of adult passengers (1-9).
                  required: false
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_aviation_v1_SearchGoogleDatesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/climate/v1/list-climate-anomalies:
        get:
            tags:
                - ClimateService
            summary: ListClimateAnomalies
            description: ListClimateAnomalies retrieves temperature and precipitation anomalies from ERA5 data.
            operationId: ListClimateAnomalies
            parameters:
                - name: page_size
                  in: query
                  description: Maximum items per page (1-100).
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: Cursor for next page.
                  required: false
                  schema:
                    type: string
                - name: min_severity
                  in: query
                  description: Optional filter by anomaly severity.
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_climate_v1_ListClimateAnomaliesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/climate/v1/list-climate-disasters:
        get:
            tags:
                - ClimateService
            summary: ListClimateDisasters
            description: ListClimateDisasters retrieves climate-relevant disaster events from seeded data.
            operationId: ListClimateDisasters
            parameters:
                - name: page_size
                  in: query
                  description: Maximum items per page (1-100).
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: Cursor for next page.
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_climate_v1_ListClimateDisastersResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/climate/v1/get-co2-monitoring:
        get:
            tags:
                - ClimateService
            summary: GetCo2Monitoring
            description: GetCo2Monitoring retrieves seeded NOAA greenhouse gas monitoring data.
            operationId: GetCo2Monitoring
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_climate_v1_GetCo2MonitoringResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/climate/v1/get-ocean-ice-data:
        get:
            tags:
                - ClimateService
            summary: GetOceanIceData
            description: GetOceanIceData retrieves seeded Arctic sea ice, sea level, and ocean heat indicators.
            operationId: GetOceanIceData
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_climate_v1_GetOceanIceDataResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/climate/v1/list-air-quality-data:
        get:
            tags:
                - ClimateService
            summary: ListAirQualityData
            description: ListAirQualityData retrieves recent PM2.5 station data from the shared air-quality seed.
            operationId: ListAirQualityData
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_climate_v1_ListAirQualityDataResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/climate/v1/list-climate-news:
        get:
            tags:
                - ClimateService
            summary: ListClimateNews
            description: ListClimateNews retrieves latest climate/environment intelligence headlines from seeded RSS feeds.
            operationId: ListClimateNews
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_climate_v1_ListClimateNewsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/conflict/v1/list-acled-events:
        get:
            tags:
                - ConflictService
            summary: ListAcledEvents
            description: ListAcledEvents retrieves armed conflict events from the ACLED dataset.
            operationId: ListAcledEvents
            parameters:
                - name: start
                  in: query
                  description: Start of time range (inclusive), Unix epoch milliseconds.
                  required: false
                  schema:
                    type: string
                    format: int64
                - name: end
                  in: query
                  description: End of time range (inclusive), Unix epoch milliseconds.
                  required: false
                  schema:
                    type: string
                    format: int64
                - name: page_size
                  in: query
                  description: Maximum items per page (1-100).
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: Cursor for next page.
                  required: false
                  schema:
                    type: string
                - name: country
                  in: query
                  description: Optional country filter (ISO 3166-1 alpha-2).
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_conflict_v1_ListAcledEventsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/conflict/v1/list-ucdp-events:
        get:
            tags:
                - ConflictService
            summary: ListUcdpEvents
            description: ListUcdpEvents retrieves georeferenced violence events from the UCDP dataset.
            operationId: ListUcdpEvents
            parameters:
                - name: start
                  in: query
                  description: Start of time range (inclusive), Unix epoch milliseconds.
                  required: false
                  schema:
                    type: string
                    format: int64
                - name: end
                  in: query
                  description: End of time range (inclusive), Unix epoch milliseconds.
                  required: false
                  schema:
                    type: string
                    format: int64
                - name: page_size
                  in: query
                  description: Maximum items per page (1-100).
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: Cursor for next page.
                  required: false
                  schema:
                    type: string
                - name: country
                  in: query
                  description: Optional country filter (ISO 3166-1 alpha-2).
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_conflict_v1_ListUcdpEventsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/conflict/v1/get-humanitarian-summary:
        get:
            tags:
                - ConflictService
            summary: GetHumanitarianSummary
            description: GetHumanitarianSummary retrieves a humanitarian overview for a country from HAPI/HDX.
            operationId: GetHumanitarianSummary
            parameters:
                - name: country_code
                  in: query
                  description: ISO 3166-1 alpha-2 country code (e.g., "YE", "SD", "SO").
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_conflict_v1_GetHumanitarianSummaryResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/conflict/v1/list-iran-events:
        get:
            tags:
                - ConflictService
            summary: ListIranEvents
            description: ListIranEvents retrieves scraped conflict events from LiveUAMap Iran.
            operationId: ListIranEvents
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_conflict_v1_ListIranEventsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/conflict/v1/get-humanitarian-summary-batch:
        post:
            tags:
                - ConflictService
            summary: GetHumanitarianSummaryBatch
            description: GetHumanitarianSummaryBatch retrieves humanitarian summaries for multiple countries in one call.
            operationId: GetHumanitarianSummaryBatch
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/worldmonitor_conflict_v1_GetHumanitarianSummaryBatchRequest'
                required: true
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_conflict_v1_GetHumanitarianSummaryBatchResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/consumer-prices/v1/get-consumer-price-overview:
        get:
            tags:
                - ConsumerPricesService
            summary: GetConsumerPriceOverview
            description: GetConsumerPriceOverview retrieves headline basket indices and coverage metrics.
            operationId: GetConsumerPriceOverview
            parameters:
                - name: market_code
                  in: query
                  description: market_code is the ISO 3166-1 alpha-2 market identifier (e.g. "ae").
                  required: false
                  schema:
                    type: string
                - name: basket_slug
                  in: query
                  description: basket_slug selects which basket to use (e.g. "essentials-ae").
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_consumer_prices_v1_GetConsumerPriceOverviewResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/consumer-prices/v1/get-consumer-price-basket-series:
        get:
            tags:
                - ConsumerPricesService
            summary: GetConsumerPriceBasketSeries
            description: GetConsumerPriceBasketSeries retrieves the basket index time series.
            operationId: GetConsumerPriceBasketSeries
            parameters:
                - name: market_code
                  in: query
                  description: market_code is the ISO 3166-1 alpha-2 market identifier.
                  required: false
                  schema:
                    type: string
                - name: basket_slug
                  in: query
                  description: basket_slug selects the basket (e.g. "essentials-ae").
                  required: false
                  schema:
                    type: string
                - name: range
                  in: query
                  description: range is one of "7d", "30d", "90d", "180d".
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_consumer_prices_v1_GetConsumerPriceBasketSeriesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/consumer-prices/v1/list-consumer-price-categories:
        get:
            tags:
                - ConsumerPricesService
            summary: ListConsumerPriceCategories
            description: ListConsumerPriceCategories retrieves category summaries with sparklines.
            operationId: ListConsumerPriceCategories
            parameters:
                - name: market_code
                  in: query
                  description: market_code is the ISO 3166-1 alpha-2 market identifier.
                  required: false
                  schema:
                    type: string
                - name: basket_slug
                  in: query
                  description: basket_slug selects the basket scope.
                  required: false
                  schema:
                    type: string
                - name: range
                  in: query
                  description: range is one of "7d", "30d", "90d", "180d".
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_consumer_prices_v1_ListConsumerPriceCategoriesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/consumer-prices/v1/list-consumer-price-movers:
        get:
            tags:
                - ConsumerPricesService
            summary: ListConsumerPriceMovers
            description: ListConsumerPriceMovers retrieves the largest upward and downward item price moves.
            operationId: ListConsumerPriceMovers
            parameters:
                - name: market_code
                  in: query
                  description: market_code is the ISO 3166-1 alpha-2 market identifier.
                  required: false
                  schema:
                    type: string
                - name: range
                  in: query
                  description: range is one of "7d", "30d", "90d".
                  required: false
                  schema:
                    type: string
                - name: limit
                  in: query
                  description: limit caps the number of risers and fallers returned (default 10).
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: category_slug
                  in: query
                  description: category_slug filters to a single category when set.
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_consumer_prices_v1_ListConsumerPriceMoversResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/consumer-prices/v1/list-retailer-price-spreads:
        get:
            tags:
                - ConsumerPricesService
            summary: ListRetailerPriceSpreads
            description: ListRetailerPriceSpreads retrieves cheapest-basket comparisons across retailers.
            operationId: ListRetailerPriceSpreads
            parameters:
                - name: market_code
                  in: query
                  description: market_code is the ISO 3166-1 alpha-2 market identifier.
                  required: false
                  schema:
                    type: string
                - name: basket_slug
                  in: query
                  description: basket_slug selects which basket to compare across retailers.
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_consumer_prices_v1_ListRetailerPriceSpreadsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/consumer-prices/v1/get-consumer-price-freshness:
        get:
            tags:
                - ConsumerPricesService
            summary: GetConsumerPriceFreshness
            description: GetConsumerPriceFreshness retrieves feed freshness and coverage health per retailer.
            operationId: GetConsumerPriceFreshness
            parameters:
                - name: market_code
                  in: query
                  description: market_code is the ISO 3166-1 alpha-2 market identifier.
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_consumer_prices_v1_GetConsumerPriceFreshnessResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/cyber/v1/list-cyber-threats:
        get:
            tags:
                - CyberService
            summary: ListCyberThreats
            description: ListCyberThreats retrieves threat indicators from multiple intelligence sources.
            operationId: ListCyberThreats
            parameters:
                - name: start
                  in: query
                  description: Start of time range (inclusive), Unix epoch milliseconds.
                  required: false
                  schema:
                    type: string
                    format: int64
                - name: end
                  in: query
                  description: End of time range (inclusive), Unix epoch milliseconds.
                  required: false
                  schema:
                    type: string
                    format: int64
                - name: page_size
                  in: query
                  description: Maximum items per page (1-100).
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: Cursor for next page.
                  required: false
                  schema:
                    type: string
                - name: type
                  in: query
                  description: Optional threat type filter.
                  required: false
                  schema:
                    type: string
                - name: source
                  in: query
                  description: Optional source filter.
                  required: false
                  schema:
                    type: string
                - name: min_severity
                  in: query
                  description: Optional minimum criticality filter.
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_cyber_v1_ListCyberThreatsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/displacement/v1/get-displacement-summary:
        get:
            tags:
                - DisplacementService
            summary: GetDisplacementSummary
            description: GetDisplacementSummary retrieves global refugee and IDP statistics from UNHCR.
            operationId: GetDisplacementSummary
            parameters:
                - name: year
                  in: query
                  description: Data year to retrieve (e.g., 2023). Uses latest available if zero.
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: country_limit
                  in: query
                  description: Maximum number of country entries to return.
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: flow_limit
                  in: query
                  description: Maximum number of displacement flows to return.
                  required: false
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_displacement_v1_GetDisplacementSummaryResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/displacement/v1/get-population-exposure:
        get:
            tags:
                - DisplacementService
            summary: GetPopulationExposure
            description: GetPopulationExposure returns country population data or estimates population within a radius.
            operationId: GetPopulationExposure
            parameters:
                - name: mode
                  in: query
                  description: 'Mode: "countries" (default) or "exposure".'
                  required: false
                  schema:
                    type: string
                - name: lat
                  in: query
                  description: Latitude (required for exposure mode).
                  required: false
                  schema:
                    type: number
                    format: double
                - name: lon
                  in: query
                  description: Longitude (required for exposure mode).
                  required: false
                  schema:
                    type: number
                    format: double
                - name: radius
                  in: query
                  description: Radius in km (required for exposure mode, defaults to 50).
                  required: false
                  schema:
                    type: number
                    format: double
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_displacement_v1_GetPopulationExposureResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-fred-series:
        get:
            tags:
                - EconomicService
            summary: GetFredSeries
            description: GetFredSeries retrieves time series data from the Federal Reserve Economic Data.
            operationId: GetFredSeries
            parameters:
                - name: series_id
                  in: query
                  description: FRED series ID (e.g., "GDP", "UNRATE", "CPIAUCSL").
                  required: false
                  schema:
                    type: string
                - name: limit
                  in: query
                  description: Maximum number of observations to return. Defaults to 120.
                  required: false
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetFredSeriesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/list-world-bank-indicators:
        get:
            tags:
                - EconomicService
            summary: ListWorldBankIndicators
            description: ListWorldBankIndicators retrieves development indicator data from the World Bank.
            operationId: ListWorldBankIndicators
            parameters:
                - name: indicator_code
                  in: query
                  description: World Bank indicator code (e.g., "NY.GDP.MKTP.CD").
                  required: false
                  schema:
                    type: string
                - name: country_code
                  in: query
                  description: Optional country filter (ISO 3166-1 alpha-2).
                  required: false
                  schema:
                    type: string
                - name: year
                  in: query
                  description: Optional year filter. Defaults to latest available.
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: page_size
                  in: query
                  description: Maximum items per page.
                  required: false
                  schema:
                    type: integer
                    format: int32
                - name: cursor
                  in: query
                  description: Cursor for next page.
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_ListWorldBankIndicatorsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-energy-prices:
        get:
            tags:
                - EconomicService
            summary: GetEnergyPrices
            description: GetEnergyPrices retrieves current energy commodity prices from EIA.
            operationId: GetEnergyPrices
            parameters:
                - name: commodities
                  in: query
                  description: Optional commodity filter. Empty returns all tracked commodities.
                  required: false
                  style: form
                  explode: true
                  schema:
                    type: array
                    items:
                        type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetEnergyPricesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-macro-signals:
        get:
            tags:
                - EconomicService
            summary: GetMacroSignals
            description: GetMacroSignals computes 7 macro signals from 6 upstream sources with BUY/CASH verdict.
            operationId: GetMacroSignals
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetMacroSignalsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-energy-capacity:
        get:
            tags:
                - EconomicService
            summary: GetEnergyCapacity
            description: GetEnergyCapacity retrieves installed capacity data (solar, wind, coal) from EIA.
            operationId: GetEnergyCapacity
            parameters:
                - name: energy_sources
                  in: query
                  description: |-
                    Energy source codes to query (e.g., "SUN", "WND", "COL").
                     Empty returns all tracked sources (SUN, WND, COL).
                  required: false
                  style: form
                  explode: true
                  schema:
                    type: array
                    items:
                        type: string
                - name: years
                  in: query
                  description: Number of years of historical data. Default 20 if not set.
                  required: false
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetEnergyCapacityResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-bis-policy-rates:
        get:
            tags:
                - EconomicService
            summary: GetBisPolicyRates
            description: GetBisPolicyRates retrieves central bank policy rates from BIS.
            operationId: GetBisPolicyRates
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetBisPolicyRatesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-bis-exchange-rates:
        get:
            tags:
                - EconomicService
            summary: GetBisExchangeRates
            description: GetBisExchangeRates retrieves effective exchange rates from BIS.
            operationId: GetBisExchangeRates
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetBisExchangeRatesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-bis-credit:
        get:
            tags:
                - EconomicService
            summary: GetBisCredit
            description: GetBisCredit retrieves credit-to-GDP ratio data from BIS.
            operationId: GetBisCredit
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetBisCreditResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-fred-series-batch:
        post:
            tags:
                - EconomicService
            summary: GetFredSeriesBatch
            description: GetFredSeriesBatch retrieves multiple FRED series in a single call.
            operationId: GetFredSeriesBatch
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/worldmonitor_economic_v1_GetFredSeriesBatchRequest'
                required: true
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetFredSeriesBatchResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/list-grocery-basket-prices:
        get:
            tags:
                - EconomicService
            summary: ListGroceryBasketPrices
            description: ListGroceryBasketPrices retrieves grocery basket price comparison across 24 countries worldwide.
            operationId: ListGroceryBasketPrices
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_ListGroceryBasketPricesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/list-bigmac-prices:
        get:
            tags:
                - EconomicService
            summary: ListBigMacPrices
            description: ListBigMacPrices retrieves Big Mac Index prices across Middle East countries.
            operationId: ListBigMacPrices
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_ListBigMacPricesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-national-debt:
        get:
            tags:
                - EconomicService
            summary: GetNationalDebt
            description: GetNationalDebt retrieves national debt clock data for all countries.
            operationId: GetNationalDebt
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetNationalDebtResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/list-fuel-prices:
        get:
            tags:
                - EconomicService
            summary: ListFuelPrices
            description: ListFuelPrices retrieves retail gasoline and diesel prices across 30+ countries.
            operationId: ListFuelPrices
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_ListFuelPricesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-bls-series:
        get:
            tags:
                - EconomicService
            summary: GetBlsSeries
            description: GetBlsSeries retrieves BLS-only series not available on FRED (CES, LAUMT, CIU).
            operationId: GetBlsSeries
            parameters:
                - name: series_id
                  in: query
                  description: BLS series ID (e.g. "CES0500000001", "CIU1010000000000A").
                  required: false
                  schema:
                    type: string
                - name: limit
                  in: query
                  description: Maximum number of observations to return. Defaults to 60.
                  required: false
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetBlsSeriesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-economic-calendar:
        get:
            tags:
                - EconomicService
            summary: GetEconomicCalendar
            description: GetEconomicCalendar retrieves upcoming major economic events (FOMC, CPI, NFP, etc).
            operationId: GetEconomicCalendar
            parameters:
                - name: fromDate
                  in: query
                  required: false
                  schema:
                    type: string
                - name: toDate
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetEconomicCalendarResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-crude-inventories:
        get:
            tags:
                - EconomicService
            summary: GetCrudeInventories
            description: GetCrudeInventories retrieves the 8 most recent weeks of US crude oil stockpile data from EIA (WCRSTUS1).
            operationId: GetCrudeInventories
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetCrudeInventoriesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-nat-gas-storage:
        get:
            tags:
                - EconomicService
            summary: GetNatGasStorage
            description: GetNatGasStorage retrieves the 8 most recent weeks of US natural gas working gas storage from EIA (NW2_EPG0_SWO_R48_BCF).
            operationId: GetNatGasStorage
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetNatGasStorageResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-ecb-fx-rates:
        get:
            tags:
                - EconomicService
            summary: GetEcbFxRates
            description: GetEcbFxRates retrieves daily ECB official reference rates for EUR/major currency pairs.
            operationId: GetEcbFxRates
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetEcbFxRatesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-eurostat-country-data:
        get:
            tags:
                - EconomicService
            summary: GetEurostatCountryData
            description: GetEurostatCountryData retrieves per-country CPI, unemployment, and GDP growth for 10 EU member states.
            operationId: GetEurostatCountryData
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetEurostatCountryDataResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-eu-gas-storage:
        get:
            tags:
                - EconomicService
            summary: GetEuGasStorage
            description: GetEuGasStorage retrieves EU aggregate natural gas storage fill % from GIE AGSI+.
            operationId: GetEuGasStorage
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetEuGasStorageResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-eu-yield-curve:
        get:
            tags:
                - EconomicService
            summary: GetEuYieldCurve
            description: GetEuYieldCurve retrieves the ECB Euro Area AAA sovereign yield curve (Svensson model spot rates).
            operationId: GetEuYieldCurve
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetEuYieldCurveResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-eu-fsi:
        get:
            tags:
                - EconomicService
            summary: GetEuFsi
            description: GetEuFsi retrieves the ECB CISS (Composite Indicator of Systemic Stress) for the Euro area.
            operationId: GetEuFsi
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetEuFsiResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-economic-stress:
        get:
            tags:
                - EconomicService
            summary: GetEconomicStress
            description: GetEconomicStress retrieves the composite Economic Stress Index (0-100) from 6 FRED series.
            operationId: GetEconomicStress
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetEconomicStressResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-fao-food-price-index:
        get:
            tags:
                - EconomicService
            summary: GetFaoFoodPriceIndex
            description: GetFaoFoodPriceIndex retrieves the FAO Food Price Index for the past 12 months.
            operationId: GetFaoFoodPriceIndex
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetFaoFoodPriceIndexResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-oil-stocks-analysis:
        get:
            tags:
                - EconomicService
            summary: GetOilStocksAnalysis
            description: GetOilStocksAnalysis retrieves the IEA oil stocks days-of-cover ranking and regional summary.
            operationId: GetOilStocksAnalysis
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetOilStocksAnalysisResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-oil-inventories:
        get:
            tags:
                - EconomicService
            summary: GetOilInventories
            operationId: GetOilInventories
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetOilInventoriesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/economic/v1/get-energy-crisis-policies:
        get:
            tags:
                - EconomicService
            summary: GetEnergyCrisisPolicies
            description: GetEnergyCrisisPolicies retrieves government policy responses to the 2026 energy crisis from the IEA tracker.
            operationId: GetEnergyCrisisPolicies
            parameters:
                - name: country_code
                  in: query
                  description: Optional ISO-2 country code filter.
                  required: false
                  schema:
                    type: string
                - name: category
                  in: query
                  description: 'Optional category filter: "conservation" or "consumer_support".'
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_economic_v1_GetEnergyCrisisPoliciesResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/forecast/v1/get-forecasts:
        get:
            tags:
                - ForecastService
            summary: GetForecasts
            operationId: GetForecasts
            parameters:
                - name: domain
                  in: query
                  required: false
                  schema:
                    type: string
                - name: region
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_forecast_v1_GetForecastsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/forecast/v1/get-simulation-package:
        get:
            tags:
                - ForecastService
            summary: GetSimulationPackage
            operationId: GetSimulationPackage
            parameters:
                - name: runId
                  in: query
                  description: Currently ignored; always returns the latest package. Reserved for Phase 3 per-run lookup.
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_forecast_v1_GetSimulationPackageResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                default:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /api/forecast/v1/get-simulation-outcome:
        get:
            tags:
                - ForecastService
            summary: GetSimulationOutcome
            operationId: GetSimulationOutcome
            parameters:
                - name: runId
                  in: query
                  description: |-
                    Filter is active for outcomes within the 24h retention window (#3734).
                     If runId is supplied:
                       - Hit on the by-run key → returns that outcome, processing=false.
                       - By-run lookup returns the tombstone (worker write transiently failed) →
                         falls through to :latest with a 'note' describing the transient failure.
                       - No by-run match but runId is in the queue → returns processing=true.
                       - No match anywhere → falls back to :latest with a 'note' describing
                         expiry-or-mismatch.
                     If runId is empty: returns :latest (existing behavior).
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/worldmonitor_forecast_v1_GetSimulationOutcomeResponse'
                "400":
[...]
